/*
 * Styles from page about
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.about-page
	margin: 67px 0 0

	.container
		.preview
			font-size: 0

			img
				width: 30.161%
				vertical-align: top
				margin-right: 2.35%
				margin-bottom: 2%

				@media(max-width: $small)
					width: 48%
					margin-right: 3.5%

				@media(max-width: $tablets)
					width: auto
					margin: 0 auto 25px
					display: block
					max-width: 100%

			.text
				font-size: 18px
				width: 50%
				line-height: 1.7
				margin-top: -5px
				font-family: Roboto-Regular
				letter-spacing: -0.2px

				@media(max-width: $small)
					width: 45.1%

				@media(max-width: $tablets)
					width: auto
					margin: 0

				p
					margin: 0 0 29px

		.detail
			line-height: 1.6
			margin-bottom: 63px
			max-width: 1250px

			h2
				margin-bottom: 16px

				@media(max-width: $small)
					margin-top: 0px

			p
				margin: 0 0 33px

		.partners
			margin-bottom: 10px

			h2
				margin-bottom: 44px

			ul
				+resetCss
				list-style-type: none
				font-size: 0

				li
					width: 20%
					display: inline-block
					vertical-align: middle
					margin-bottom: 96px

					@media(max-width: $small)
						width: 33.333%

					@media(max-width: $mobiles)
						display: block
						width: auto
						text-align: center

					@media(max-width: $tablets) and (orientation: landscape)
						display: block
						width: auto
						text-align: center
