/*
 * Styles from standart text page
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.artcile-page
	margin: 0 0 61px

	.container
		padding-top: 1px
		line-height: 1.7
		font-family: Roboto-Regular

		img
			width: 30.161%
			vertical-align: top
			margin-right: 2.35%
			margin-bottom: 2%

			@media(max-width: $small)
				width: 48%
				margin-right: 3.5%

			@media(max-width: $tablets)
				width: auto
				margin: 0 auto 25px
				display: block
				max-width: 100%

		.text
			font-size: 18px
			width: 62.38%
			line-height: 1.7
			margin-top: -5px
			font-family: Roboto-Regular
			letter-spacing: -0.2px

			@media(max-width: $small)
				width: 45.1%

			@media(max-width: $tablets)
				width: auto
				margin: 0

			p
				margin: 0 0 29px

		h2
			margin: 14px 0
			font-family: Roboto-Medium

		p
			margin: 0

		ul
			+resetCss
			list-style-type: none

		li
			position: relative
			padding-left: 29px
			max-width: 730px
			margin-bottom: 25px

			@media(max-width: $mobiles)
				padding-left: 20px

			&::before
				content: ""
				+size(12px)
				border-radius: 100%
				display: block
				background: #ed1c24
				+absolute(8px, auto, auto, -2px)

		.row
			font-size: 0
			display: flex
			justify-content: space-between

			@media(max-width: $small)
				display: block
				margin: 27px 0 0

			.column
				font-size: 18px
				line-height: 1.5
				max-width: 45%

				@media(max-width: $small)
					display: block
					max-width: 100%

				h2
					margin: 30px 0 20px

					@media(max-width: $small)
						margin-top: 5px
