/*
 * Styles from page contacts
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.contacts
	.list
		+resetCss
		list-style-type: none
		font-size: 0
		margin-bottom: 9px

		@media(max-width: $small)
			margin-bottom: 32px

		li
			display: inline-block
			vertical-align: top
			font-size: 18px
			width: 25%
			max-width: 326px
			margin-bottom: 37px

			@media(max-width: $small)
				width: 50%
				max-width: 399px
				margin-bottom: 35px

			@media(max-width: $mobiles)
				width: 100%
				display: block
				max-width: 100%

			.title
				font-family: Roboto-Bold
				margin-bottom: 11px

			.text
				max-width: 326px
				font-family: Roboto-Regular

				@media(max-width: $mobiles)
					max-width: 100%

				img
					margin-right: 4px
					vertical-align: middle
