/*
 * Styles from page dealers
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.dealers
	.container
		.text
			font-family: Roboto-Regular
			line-height: 1.7
			margin-bottom: 48px

			@media(max-width: $small)
				margin-bottom: 39px

			@media(max-width: $mobiles)
				font-size: 16px

		.list
			+resetCss
			list-style-type: none
			font-size: 0

			li
				display: inline-block
				vertical-align: top
				width: 27.8%
				font-size: 16px
				font-family: Roboto-Regular
				margin-bottom: 58px

				@media(max-width: $small)
					width: 36.3%

					&:nth-of-type(3n + 3)
						width: 27.4% !important

				&:nth-of-type(4n + 4)
					width: 16.5%

					@media(max-width: $small)
						width: 36.3%

				@media(max-width: $mobiles)
					display: block
					width: 100% !important
					text-align: center

					&:nth-of-type(3n + 3)
						width: 100% !important

				a
					height: 197px
					max-width: 197px
					display: flex
					align-items: center

					@media(max-width: $mobiles)
						max-width: 100%
						justify-content: center

				.text-item
					max-width: 260px

					@media(max-width: $mobiles)
						max-width: 100%

					p
						font-size: 18px
						font-family: Roboto-Medium
						margin: 14px 0 9px

		.pagination
			margin-top: -9px
