/*
 * Styles from footer
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

footer
	height: 206px
	width: 100%
	+absolute(auto, auto, 0, auto)
	padding: 44px 0 0

	@media(max-width: $mobiles)
		height: 135px

	.container
		font-family: Roboto-Bold
		font-size: 16px

		@media(max-width: $mobiles)
			font-size: 12px
			position: relative

		p, ul
			+resetCss
		ul
			list-style-type: none

		.column
			vertical-align: top

			&.column-copy
				width: 181px
				font-family: Roboto-Regular

				p
					text-transform: uppercase

				@media(max-width: $tablets)
					width: 130px

				@media(max-width: $mobiles)
					width: auto
					margin-bottom: 20px

			&.column-menu
				width: 208px

				@media(max-width: $tablets)
					width: 145px

				@media(max-width: $tablets) and (orientation:landscape)
					display: none

				@media(max-width: $mobiles)
					display: none

				ul li
						margin-bottom: 3px

						a
							color: #3d3d3d
							text-decoration: none

							&:hover
								color: #ce0008

			&.column-contacts
				@media(max-width: $mobiles)
					display: block

				.text
					ul li
						margin-bottom: 5px

					&:first-of-type
						margin-bottom: 28px

						@media(max-width: $mobiles)
							display: none

			&.column-develop
				float: right
				text-align: right

				@media(max-width: $mobiles)
					+absolute(0, 3px)

				a
					font-size: 14px
					text-transform: uppercase
					text-decoration: none
					color: #3d3d3d
					height: 25px
					line-height: 25px
					display: block
					padding-right: 31px
					+bg("wi-bg.png", no-repeat right 0)
					position: relative

					&::after
						content: ""
						+absolute(0, 0)
						+bg("wi-bg.png", no-repeat 0 -27px)
						+size(25px)
						opacity: 0
						+transition(opacity)

					&:hover
						&::after
							opacity: 1

					@media(max-width: $mobiles)
						font-size: 12px
