/*
 * Styles from header
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

header
	+bg("header-bg.png", repeat-x)
	height: 146px
	padding: 36px 0 0

	@media(max-width: $mobiles)
		position: relative
		height: 100px

	.container
		position: relative
		.column
			vertical-align: top

			@media(max-width: $tablets)
				vertical-align: middle

		.column-logo
			margin-right: 3.4%

			@media(max-width: $tablets)
				width: 19.961%
				vertical-align: top

				img
					width: 100%

			@media(max-width: $mobiles)
				width: 35%
				min-width: auto

		.column-menu
			width: 45%

			@media(max-width: $tablets)
				width: 75%
				float: right
				text-align: right

			@media(max-width: $mobiles)
				width: 45%
				float: none
				text-align: left

			.mobile-menu-call
				display: none
				border: none
				background: #ed1c24
				+size(40px)
				padding: 0
				border-radius: 100%
				+absolute(0, 5px)

				hr
					height: 3px
					background: #fff
					border: none
					width: 50%
					margin: 4px auto

				@media(max-width: $mobiles)
					display: block

			span
				margin-right: 18px
				font-family: Roboto-Black
				font-size: 20px

				@media(max-width: $mobiles)
					font-size: 18px
					margin: 0

			.btn-oval
				display: inline-block

			nav
				margin-top: 18px

				@media(max-width: $tablets)
					width: 132%
					margin-left: -32%

				@media(max-width: $mobiles)
					position: fixed
					top: 0
					right: -100%
					z-index: 1
					background: #ed1c24
					height: 100%
					margin: 0
					width: 60%
					padding: 60px 0 0
					visibility: visible
					+transition(right)

				&.active
					visibility: visible
					right: 0

				.close-menu
					display: none
					background: none
					border: none
					color: #1a1818
					position: absolute
					top: 5px
					right: 5px
					font-size: 40px
					padding: 0

					@media(max-width: $mobiles)
						display: block

				ul
					+resetCss
					list-style-type: none

					li
						display: inline-block
						margin-right: 2.8%

						@media(max-width: $small)
							margin-right: 4.3%

						@media(max-width: $tablets)
							margin-right: 2%

						@media(max-width: $mobiles)
							display: block
							margin: 0 0 15px

						&.mobile
							display: none

							@media(max-width: $tablets)
								display: inline-block

						a
							text-decoration: none
							color: #383838
							font-size: 16px
							font-family: Roboto-Regular

							@media(max-width: $mobiles)
								color: #fff
								font-size: 25px
								padding: 0 0 0 20px
								width: 100%
								display: block

							&:hover
								color: #b00007

		.column-backet
			position: fixed
			top: 6%
			right: 2.7%
			z-index: 2

			&.pulse
				animation: pulse 2s

				@keyframes pulse
					0%
						opacity: 1
					50%
						opacity: 0
					100%
						opacity: 1

			@media(max-width: $tablets)
				display: none

			a
				display: block
				+size(60px)
				line-height: 39px
				border-radius: 100%
				color: #fff
				text-decoration: none
				text-align: center
				+bg("basket-icon.png", no-repeat 14px 25px #ed1c24)
				font-size: 16px
				font-family: Roboto-Regular

				&:hover
					background-color: #ce0008
					+transition(background-color)
