/*
 * Styles from page not found
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

%module-catalog-btn
	.module-catalog-btn
		background: none
		height: auto

		@media(max-width: $mobiles)
			display: block

			.container
				display: block

				a
					width: 100%
					display: block
					margin-bottom: 15px
.not-found
	text-align: center
	padding: 68px 0 92px

	@media(max-width: $mobiles)
		padding: 30px 0 40px

	h1
		margin: 23px 0 59px

	p
		margin-bottom: 41px

	@extend %module-catalog-btn
