/*
 * Styles from page recycling
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.recycling
	margin-top: 66px
	.container
		h2
			margin: 22px 0 16px

		ul
			li
				line-height: 1.5

		.price
			margin: 24px 0

		.btn
			font-size: 20px
			margin-top: 14px
			padding: 16px 26px
