/*
 * Styles from page reviews
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.news
	.reviews
		margin: 61px 0 0
		.container
			article
				.body
					&:hover p
						color: inherit
					img
						width: 96px
						border-radius: 100%

					.author
						margin: 25px 0 0

	.reviews-form
		margin: 82px 0 0
		background: #35373b
		height: 202px
		position: relative

		.call-popup
			+absolute(50%, 0, 0, 50%)
			transform: translate(-50%, -50%)
			width: 265px
			height: 65px
			line-height: 65px
			border-radius: 80px
			font-size: 24px
