/*
 * Main file styles
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

$fancybox-image-url: "./dist/img"

@import "variables"
@import "mixins"
@import "fonts"
@import "../node_modules/node.normalize.scss/normalize"
@import "../node_modules/slick-carousel/slick/slick.scss"
@import "../node_modules/jquery-nice-select/scss/nice-select.scss"
@import "../node_modules/animate.css/animate"
@import "../app/dist/scss/jquery.fancybox"

html
	width: 100%
	min-height: 100%
	background: #fff
	position: relative

	*
		box-sizing: border-box
		outline: none

	body
		font-size: 18px
		color: #383838
		font-family:  Roboto-Medium ,Tahoma, Geneva, sans-serif
		margin: 0 0 206px
		line-height: 1.2

		@media(max-width: $mobiles)
			margin: 0 0 135px

		.top
			display: block
			position: fixed
			right: 55px
			bottom: 29px
			border: none
			+size(54px)
			border-radius: 100%
			background: #bdbdbd
			padding: 0
			visibility: hidden
			opacity: 0
			z-index: 100
			+transition(opacity)

			@media(max-width: $tablets)
				display: none

			@media($small) and (orientation: landsacape)
				display: none

			&::before
				content: ""
				+bg("top.png", no-repeat center center)
				display: block
				+absolute(50%, auto, auto, 50%)
				transform: translate(-50%, -50%)
				width: 24px
				height: 26px

			&:hover
				background: #252525
				+transition(background)

		a
			color: #ed1c24

			&:hover
				color: #b00007
				+transition(color)

		.btn-oval
			$h: 40px

			display: block
			text-decoration: none
			width: 170px
			height: $h
			line-height: $h
			background: #383838
			color: #fff
			font-size: 16px
			font-family: Roboto-Bold
			text-align: center
			border-radius: 21px
			border: none

			&:hover
				color: #fff
				background: #ce0008
				+transition(background)

			&.invert
				color: #fff
				background: #ed1c24

				&:hover
					background: #ce0008

			@media(max-width: $mobiles)
				width: auto
				height: auto
				line-height: normal
				font-size: 14px
				padding: 5px 10px

		.btn
			display: block
			text-decoration: none
			outline: none
			border: none
			background: #35373b
			color: #fff
			padding: 12px 17px
			font-size: 18px
			text-transform: uppercase
			font-family: Roboto-Light

			&:hover
				background: #ce0008
				+transition(background)

			&.invert
				color: #fff
				background: #ed1c24

				&:hover
					background: #ce0008

		.inline
			display: inline-block
			margin-right: 10px

		.container
			margin: 0 auto
			width: 100%
			max-width: 1599px
			padding: 0 22px

			@media(max-width: $tablets)
				padding: 0 5px

		.column
			display: inline-block
			vertical-align: middle

		@import "header"

		main
			width: 100%
			height: auto
			min-height: 100%

			h1
				font-size: 40px
				margin: 34px 0 40px
				font-weight: normal

				@media(max-width: $mobiles)
					margin: 10px 0 20px

			h2
				font-size: 30px
				color: #000
				margin: 21px 0
				font-weight: normal

				@media(max-width: $mobiles)
					margin: 10px 0 21px
					font-size: 24px

			.back
				color: #383838
				position: relative
				padding-left: 16px

				&::before
					$b: 2px solid #525252
					content: ""
					display: block
					+size(7px)
					border-bottom: $b
					border-left: $b
					transform: rotate(40deg) translateY(-50%)
					+absolute(50%, auto, auto, 0)

				&:hover
					text-decoration: none

			.price
				$h: 38px

				font-size: 18px
				color: #383838
				font-family: Roboto-Medium
				height: $h
				line-height: $h
				display: inline-block
				+bg("price.jpg", no-repeat 0 0)
				padding-left: 48px

				&:hover
					color: #b00007

			.map
				width: 100%
				height: 661px

				@media(max-width: $mobiles)
					height: 400px

				@media(max-width: $tablets) and (orientation: landscape)
					height: 250px
					width: 80%
					margin: 0 auto

				img
					display: none

		@import "./modules/pathway"
		@import "./modules/submenu"
		@import "./modules/pagination"
		@import "./modules/catalog-btn"

		@import "./main/index"
		@import "./contacts"
		@import "./dealers"
		@import "./about"
		@import "./article-page"
		@import "./news/index"
		@import "./reviews"
		@import "./not-found"
		@import "./basket/index"
		@import "./recycle"
		@import "./tire/index"
		@import "./catalog/index"

		@import "footer"
		@import "./modules/popup"
