extends ./layot

block config
	- var title = "О компании"
	
block content
	nav.pathway
		.container
			ul
				li: a(href="#") Главная страница
				li О компании
	include ./modules/title-page
	nav.submenu
		.container
			ul
				li: a.active(href="#") О компании
				li: a(href="#") Дилеры и партнеры
				li: a(href="#") Доставка и оплата
				li: a(href="#") Новости
				li: a(href="#") Отзывы
				li: a(href="#") Статьи
	section.about-page
		.container
			.preview
				img.column(src="#{imgPath}/about/main.jpg")
				.column.text
					p.
						Мы работаем как с оптовыми клиентами, так и конечными потребителями 
						(организациями, частными лицами).
					p.
						За долгие годы работы на рынке мы выработали для себя основные принципы работы: #[br]
						ассортимент и цены – по всему ассортименту мы обеспечиваем лучшее предложение на рынке, #[br]
						поэтому при работе с нами нет необходимости искать товар у других поставщиков; #[br]
						профессионализм – ориентация на оперативное решение задач потребителя; #[br]
						надежность – выполнение взятых на себя обязательств перед клиентами.
			.detail
				h2 Опт и розница
				p.
					В настоящее время компания работает с любыми клиентами и любыми 
					объемами — от одного комплекта до крупных партий.
				p.
					Для конечных потребителей у нас работает интернет-магазин, 
					а также специалисты по работе с конечными  потребителями, которые
					 квалифицированно проконсультируют и подберут шины/диски согласно вашим 
					 требованиям к продукту.  
				p.
					Для организаций мы поставляем шину на договорной основе – гибкая система 
					ценообразования, доставка, поставка товара под заказ и оперативность 
					делают работу с нами выгодной и приятной.
				p.
					Для профессионалов шинного рынка (шинных магазинов, оптовых компаний) 
					мы предлагаем не только выгодные коммерческие условия работы, доставку, 
					но также участие сезонных программах от производителя.
			.partners
				h2 С нами сотрудничают
				ul
					li: img(src="#{imgPath}/about/item1.jpg")
					li: img(src="#{imgPath}/about/item2.jpg")
					li: img(src="#{imgPath}/about/item3.jpg")
					li: img(src="#{imgPath}/about/item4.jpg")
					li: img(src="#{imgPath}/about/item5.jpg")
					li: img(src="#{imgPath}/about/item4.jpg")
					li: img(src="#{imgPath}/about/item5.jpg")
					li: img(src="#{imgPath}/about/item6.jpg")
	include ./modules/catalog-sections
