extends ./layot

block config
	- var mainClass = "basket"
	- var title = "Корзина"

block content
	include ./modules/title-page.jade
	section.items
		.container
			form
				table
					tbody
						tr
							td
								a.delete(href="#delete")
							td
								a(href="#") Hankook AM06 1200R24 pr18 156/153K
							td.basic-price 24 000 руб.
							td В наличии
							td
								input(type="tel", name="count", value="1", maxlength="3", class="count-item")
								span шт.
							td.current-price 24 000 руб.
						tr
							td
								a.delete(href="#delete")
							td
								a(href="#") Hankook AL10 385/55R22.5 pr18 158L (160K)
							td.basic-price 25 000 руб.
							td
								.red Под заказ
							td
								input(type="tel", name="count", value="1", maxlength="3", class="count-item")
								span шт.

							td.current-price 50 000 руб.
						tr
							td
								a.delete(href="#delete")
							td
								a(href="#") Hankook DL10+ 315/70R22.5 154/150L
							td.basic-price 26 000 руб.
							td В наличии
							td
								input(type="tel", name="count", value="1" maxlength="3")
								span шт.
							td.current-price 26 000 руб.
						tr.total
							td(colspan="4")
							td ИТОГО:
							td 100 000 руб.
				.additional-services
					h2 Отметьте необходимые вам дополнительные услуги:
					.form-group
						.checbox-custom
							input(id="additional1" name="additional", type="checkbox")
							label(for="additional1") Шиномонтаж
						p.
							Если вы уже выбрали точку шиномонтажа,
							напишите ее название и количество шин на шиномонтаж
						input(type="text", name="additional1-text", placeholder="Например, Каскад-Сервис, 6 шин")
					.form-group
						.checbox-custom
							input(id="additional2" name="additional", type="checkbox")
							label(for="additional2") Утилизация шин
					.form-group
						.checbox-custom
							input(id="additional3" name="additional", type="checkbox")
							label(for="additional3") Сдача каркасов
					.form-group
						.checbox-custom
							input(id="additional4" name="additional", type="checkbox")
							label(for="additional4") Подача рекламации
					.form-group
						.checbox-custom
							input(id="additional5" name="additional", type="checkbox")
							label(for="additional5") Другая дополнительная услуга
						input(type="text", name="additional1-text", placeholder="Например, Балансировка")
					.text.
						#[span.red *] Окончательная стоимость заказа, если в нем присутствуют услуги
						сервиса или товары/услуги, участвующие в акции, будет окончательно
						подтверждена только после обработки заказа сотрудником компании.
				.application
					h2 Оставьте свои данные
					input.required(type="text", name="name", placeholder="Имя")
					input.required(type="text", name="email", placeholder="Телефон или E-mail")
					textarea.required(placeholder="Доп. информация или вопрос")
					.error-msg Заполните пожалуйста поля
					input.btn-oval.invert(type="submit", value="Отправить")
					.sucsess
						p Мы свяжемся с вами в течении рабочего дня
