extends ./layot

block config
	- var mainClass = "catalog detail"

block content
	nav.pathway
		.container
			ul
				li: a(href="#") Главная страница
				li: a(href="#") Шины
				li Hankook AM06 1200R24 pr18 156/153K
	.title
		.container
			img(src="#{imgPath}/catalog/list-logo.jpg")
			h1 Hankook AM06 1200R24 pr18 156/153K
	article
		.container
			.row.item
				.column
					.brand.percent %
					img(src="#{imgPath}/catalog/detail.jpg")
				.column
					p.
						#[img(src="#{imgPath}/catalog/instock.png")]
						В наличии
					.price-section
						p.old 24 500 руб.
						p.current 23 000 руб.
					.form-group
						label Количество:
						input(type="tel", name="count", value="1")
						span шт.
					button.add-basket.btn.invert.
						#[img(src="#{imgPath}/catalog/add-basket.png")]
						В корзину
			.row.text
				h2 Характеристики
				.column
					dl
						dt Производитель:
						dd Hankook
					dl
						dt Назначение:
						dd Смешанный тип дорог
					dl
						dt Ширина:
						dd 1200
					dl
						dt Профиль:
						dd 80%
					dl
						dt Диаметр:
						dd R24
					dl
						dt Ось:
						dd Универсальные
					dl
						dt ИНС/ИКС:
						dd 156/153K
					dl
						dt Норма слойности:
						dd 18
					dl
						dt Сезон/M+S:
						dd Лето
					dl
						dt Максимальная нагрузка:
						dd 4250/3875 кг
				.column
					p.
						Износостойкая грузовая шина с отличными показателями проходимости
						для смешанного типа дорог. Специальный состав резины и мощные
						блоки беговой дорожки обеспечивают высокую прочность.
					p.
						Блоки укреплены продольными перемычками, которые усиливают их и
						делают менее подвижными, позволяя шине изнашиваться равномерно.
	include ./modules/adventure
	include ./catalog-pages/list/our-services
	include ./catalog-pages/list/qustion-form
