extends ./layot

block config
	- var mainClass = "catalog"

block content
	nav.pathway
		.container
			ul
				li: a(href="#") Главная страница
				li Шины
	.title
		.container
			img(src="#{imgPath}/catalog/list-logo.jpg")
			h1 Шины
	include ./catalog-pages/list/filter
	include ./catalog-pages/list/items
	include ./modules/adventure
	include ./catalog-pages/list/our-services
	include ./catalog-pages/list/qustion-form
