extends ./layot

block config
	- var mainClass = "contacts"
	- var title = "Контакты"
	
block content
	nav.pathway
		.container
			ul
				li: a(href="#") Главная страница
				li Контакты
	include ./modules/title-page
	.container
		ul.list
			li
				.title Адрес:
				.text г. Ростов-на-Дону, #[br] ул. Мадояна, 137 А
			li
				.title Телефон/факс:
				.text Тел.: +7 (911) 620-43-95
			li
				.title Розница:
				.text.
					#[img(src="#{imgPath}/contacts/skype.png")]
					Gruzshin_roznica
			li
				.title Опт:
				.text.
					#[img(src="#{imgPath}/contacts/skype.png")]
					Gruzshin_opt
	.map#map(data-center="55.76, 37.64", data-baloon="55.76, 37.64", data-baloon-text="Москва")
		img(src="#{imgPath}/contacts/baloon.png")
