extends ./layot

block config
	- var title = "О компании"
	
block content
	nav.pathway
		.container
			ul
				li: a(href="#") Главная страница
				li: a(href="#") О компании
				li Дилеры и партнеры
	include ./modules/title-page
	nav.submenu
		.container
			ul
				li: a(href="#") О компании
				li: a.active(href="#") Дилеры и партнеры
				li: a(href="#") Доставка и оплата
				li: a(href="#") Новости
				li: a(href="#") Отзывы
				li: a(href="#") Статьи
	
	section.dealers
		.container
			h2 Официальное дилерство и партнерство
			.text.
				Для организаций мы поставляем шину на договорной основе – гибкая 
				система ценообразования, доставка, поставка товара под заказ и 
				оперативность делают работу с нами выгодной и приятной. Для 
				профессионалов шинного рынка (шинных магазинов, оптовых компаний) 
				мы предлагаем не только выгодные коммерческие условия работы, 
				доставку, но также участие сезонных программах от производителя.
			ul.list
				li
					a.fancy(href="#{imgPath}/delears/delear1.jpg", rel="gallery")
						img(src="#{imgPath}/delears/delear1.jpg")
					.text-item
						p Официальное дилерство
						span Для организаций мы поставляем шину на договорной основе 
				li
					a.fancy(href="#{imgPath}/delears/delear2.jpg", rel="gallery")
						img(src="#{imgPath}/delears/delear2.jpg")
					.text-item
						p Официальное дилерство
						span Для организаций мы поставляем шину на договорной основе 
				li
					a.fancy(href="#{imgPath}/delears/delear3.jpg", rel="gallery")
						img(src="#{imgPath}/delears/delear3.jpg")
					.text-item
						p Официальное дилерство
						span Для организаций мы поставляем шину на договорной основе 
				li
					a.fancy(href="#{imgPath}/delears/delear1.jpg", rel="gallery")
						img(src="#{imgPath}/delears/delear1.jpg")
					.text-item
						p Официальное дилерство
						span Для организаций мы поставляем шину на договорной основе 
				li
					a.fancy(href="#{imgPath}/delears/delear4.jpg", rel="gallery")
						img(src="#{imgPath}/delears/delear4.jpg")
					.text-item
						p Официальное дилерство
						span Для организаций мы поставляем шину на договорной основе 
				li
					a.fancy(href="#{imgPath}/delears/delear5.jpg", rel="gallery")
						img(src="#{imgPath}/delears/delear5.jpg")
					.text-item
						p Официальное дилерство
						span Для организаций мы поставляем шину на договорной основе 
				li
					a.fancy(href="#{imgPath}/delears/delear1.jpg", rel="gallery")
						img(src="#{imgPath}/delears/delear1.jpg")
					.text-item
						p Официальное дилерство
						span Для организаций мы поставляем шину на договорной основе 
				li
					a.fancy(href="#{imgPath}/delears/delear4.jpg", rel="gallery")
						img(src="#{imgPath}/delears/delear4.jpg")
					.text-item
						p Официальное дилерство
						span Для организаций мы поставляем шину на договорной основе 
				li
					a.fancy(href="#{imgPath}/delears/delear1.jpg", rel="gallery")
						img(src="#{imgPath}/delears/delear1.jpg")
					.text-item
						p Официальное дилерство
						span Для организаций мы поставляем шину на договорной основе 
				li
					a.fancy(href="#{imgPath}/delears/delear2.jpg", rel="gallery")
						img(src="#{imgPath}/delears/delear2.jpg")
					.text-item
						p Официальное дилерство
						span Для организаций мы поставляем шину на договорной основе 
				li
					a.fancy(href="#{imgPath}/delears/delear3.jpg", rel="gallery")
						img(src="#{imgPath}/delears/delear3.jpg")
					.text-item
						p Официальное дилерство
						span Для организаций мы поставляем шину на договорной основе 
				li
					a.fancy(href="#{imgPath}/delears/delear1.jpg", rel="gallery")
						img(src="#{imgPath}/delears/delear1.jpg")
					.text-item
						p Официальное дилерство
						span Для организаций мы поставляем шину на договорной основе 
			
			include ./modules/pagination
		include ./modules/catalog-sections
