extends ./layot

block config
	- var title = "О компании"
	
block content
	nav.pathway
		.container
			ul
				li: a(href="#") Главная страница
				li: a(href="#") О компании
				li Доставка и оплата
	include ./modules/title-page
	nav.submenu
		.container
			ul
				li: a(href="#") О компании
				li: a(href="#") Дилеры и партнеры
				li: a.active(href="#") Доставка и оплата
				li: a(href="#") Новости
				li: a(href="#") Отзывы
				li: a(href="#") Статьи
	section.artcile-page
		.container
			h2 Оплата
			p.
				Менеджер Интернет-магазина обрабатывает Ваш заказ и выставляет счет на 
				Ваше имя, который Вы можете оплатить в любом отделении #[a(href="#") Сбербанка России], 
				а также в любом другом банке. Пока оплата находится на стадии 
				поступления на наш расчетный счет, мы готовим #[a(href="#") Ваш заказ] к отправке. 
				В тот же день, когда необходимая сумма поступает на наш расчетный 
				счет, мы отправляем Ваш заказ.
			.row
				.column
					h2 Доставка
					ul
						li Доставка по России осуществляется транспортной компанией в любой город нашей страны.
						li Цены на доставку грузовых шин, пожалуйста, уточните у менеджера.
						li Отправка производится в течении 2-ух рабочих дней после 100% предоплаты.
						li Обратите внимание, что сроки и стоимость доставки зависят от выбранной Вами транспортной компании.
				.column
					h2 Самовывоз
					ul
						li Доставка по России осуществляется транспортной компанией в любой город нашей страны.
						li Цены на доставку грузовых шин, пожалуйста, уточните у менеджера.
						li Отправка производится в течении 2-ух рабочих дней после 100% предоплаты.
						li Обратите внимание, что сроки и стоимость доставки зависят от выбранной Вами транспортной компании.
	include ./modules/catalog-sections
