extends ./layot

block config
	- var mainClass = "basket"

block content
	section.empty
		.container
			.row
				.img.column
					img(src="#{imgPath}/empty-basket.jpg")
				.text.column
					p Ваша корзина пуста, #[br] и ваши шины еще у нас.
					span Приступим к выбору?
	include ./modules/catalog-sections
		
