extends ./layot

block config
	- var mainClass = "main-page"

block content
	section.list-page
		.container
			ul
				li: a(href="/404.html") 404
				li: a(href="/about.html") О компании
				li: a(href="/catalog-list.html") Каталог список
				li: a(href="/catalog-detail.html") Каталог детально
				li: a(href="/contacts.html") Контакты
				li: a(href="/dealers.html") Официальное дилерство и партнерство
				li: a(href="/delivery.html") Доставка и оплата
				li: a(href="/basket.html") Корзина
				li: a(href="/empty-basket.html") Пустая корзина
				li: a(href="/main-page.html") Главная страница
				li: a(href="/news-list.html") Новости список
				li: a(href="/news-detail.html") Новости детально
				li: a(href="/recycling.html") Утилизация шин
				li: a(href="/reviews.html") Отзывы
				li: a(href="/tire.html") Шиномонтаж список
				li: a(href="/tire-detail.html") Шиномонтаж детально
