- var imgPath = "/img"
- var mainClass = ""

block config

doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href="build.css", rel="stylesheet")
		title Грузовые шины
	body
		header
			.container
				.column.column-logo
					a(href="/").logo
						img(src="#{imgPath}/logo.png")
				.column.column-menu
					span 8 800 000-00-00
					a.btn-oval.call-popup(href="#call-me") Перезвоните мне
					button.mobile-menu-call
						hr
						hr
						hr
					nav
						button.close-menu ✖
						ul
							li: a(href="#") Шины
							li: a(href="#") Диски
							li: a(href="#") Сервис
							li: a(href="#") О компании
							li: a(href="#") Контакты
							li.mobile: a(href="#") Корзина
				.column.column-backet
					a(href="#")
						span 5
		main(class="content #{mainClass}")
			block content
		footer
			.container
				.column.column-copy
					p © Протектор-Юг
				.column.column-menu
					nav
						ul
							li: a(href="#") Шины
							li: a(href="#") Диски
							li: a(href="#") Шиномонтаж
							li: a(href="#") О компании
							li: a(href="#") Контакты
				.column.column-contacts
					.text
						p Офис:
						p Тел.: 8 800 000-00-00

					.text
						p Режим работы:
						ul
							li Пн–Пт — с 9:00 до 18:00
							li Сб–Вс — выходной
				.column.column-develop
					a(href="http://www.web-izmerenie.ru/") Сделано в
		button.top
		.overlay
		include ./modules/form-call-me.jade
		script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
		script(src="build.js")
