extends ./layot

block config
	- var mainClass = "main-page"

block content
	include ./main-page/slider
	include ./main-page/filters
	include ./modules/adventure
	include ./main-page/sales
	include ./main-page/news
	include ./main-page/reviews
	include ./main-page/question
