extends ./layot

block config
	-var mainClass = "news"
	- var title = "О компании"
	
block content
	nav.pathway
		.container
			ul
				li: a(href="#") Главная страница
				li: a(href="#") О компании
				li Новости
	include ./modules/title-page
	nav.submenu
		.container
			ul
				li: a(href="#") О компании
				li: a(href="#") Дилеры и партнеры
				li: a(href="#") Доставка и оплата
				li: a.active(href="#") Новости
				li: a(href="#") Отзывы
				li: a(href="#") Статьи
	section.list
		.container
			article
				a(href="#")
					img(src="#{imgPath}/news/list1.jpg")
					time 20.03.2016
					p.
						Компания Мишлен предупреждает о повышении 
						цен на 7% с 01.09.2015 г.
					span.
						Компания Мишлен предупреждает о повышении цен на 7% с 01.09.2015 
						г. Успейте заказать и приобрести грузовую шину по доступным ценам.
			article
				a(href="#")
					img(src="#{imgPath}/news/list2.jpg")
					time 20.03.2016
					p.
						Компания Мишлен предупреждает о повышении 
						цен на 7% с 01.09.2015 г.
					span.
						Компания Мишлен предупреждает о повышении цен на 7% с 01.09.2015 
						г. Успейте заказать и приобрести грузовую шину по доступным ценам.
			article
				a(href="#")
					img(src="#{imgPath}/news/list1.jpg")
					time 20.03.2016
					p.
						Компания Мишлен предупреждает о повышении 
						цен на 7% с 01.09.2015 г.
					span.
						Компания Мишлен предупреждает о повышении цен на 7% с 01.09.2015 
						г. Успейте заказать и приобрести грузовую шину по доступным ценам.
			article
				a(href="#")
					img(src="#{imgPath}/news/list3.jpg")
					time 20.03.2016
					p.
						Компания Мишлен предупреждает о повышении 
						цен на 7% с 01.09.2015 г.
					span.
						Компания Мишлен предупреждает о повышении цен на 7% с 01.09.2015 
						г. Успейте заказать и приобрести грузовую шину по доступным ценам.
			article
				a(href="#")
					img(src="#{imgPath}/news/list4.jpg")
					time 20.03.2016
					p.
						Компания Мишлен предупреждает о повышении 
						цен на 7% с 01.09.2015 г.
					span.
						Компания Мишлен предупреждает о повышении цен на 7% с 01.09.2015 
						г. Успейте заказать и приобрести грузовую шину по доступным ценам.
			article
				a(href="#")
					img(src="#{imgPath}/news/list3.jpg")
					time 20.03.2016
					p.
						Компания Мишлен предупреждает о повышении 
						цен на 7% с 01.09.2015 г.
					span.
						Компания Мишлен предупреждает о повышении цен на 7% с 01.09.2015 
						г. Успейте заказать и приобрести грузовую шину по доступным ценам.
			include ./modules/pagination
	include ./modules/catalog-sections
