extends ./layot

block config
	- var mainClass = "news"

block content
	nav.pathway
		.container
			ul
				li: a(href="#") Главная страница
				li: a(href="#") О компании
				li: a(href="#") Новости
				li Компания Мишлен предупреждает о...
	section.detail
		article
			.container
				a.back(href="#") Все новости
				h1 Компания Мишлен предупреждает о&nbsp;повышении цен на&nbsp;7% с&nbsp;01.09.2016&nbsp;г.
				time 20.03.2016
				img(src="#{imgPath}/news/detail.jpg")
				p.
					Мы работаем как с оптовыми клиентами, так и конечными потребителями
					(организациями, частными лицами).
				p.
					За долгие годы работы на рынке мы выработали для себя основные принципы
					работы: ассортимент и цены – по всему ассортименту мы обеспечиваем
					лучшее предложение на рынке, поэтому при работе с нами нет необходимости
					искать товар у других поставщиков; профессионализм – ориентация на
					оперативное решение задач потребителя; надежность – выполнение взятых
					на себя обязательств перед клиентами.
				a.back(href="#") Все новости
