extends ./layot

block config
	- var title = "Сервис"
	
block content
	nav.pathway
		.container
			ul
				li: a(href="#") Главная страница
				li: a(href="#") Сервис
				li Утилизация шин
	include ./modules/title-page
	nav.submenu
		.container
			ul
				li: a(href="#") Шиномонтаж
				li: a.active(href="#") Утилизация шин
				li: a(href="#") Сдача каркасов
				li: a(href="#") Рекламации
				li: a(href="#") Дополнительные услуги
	section.artcile-page.recycling
		.container
			img.column(src="#{imgPath}/recycle.jpg")
			.column.text
				p.
					Менеджер Интернет-магазина обрабатывает Ваш заказ и выставляет счет на 
					Ваше имя, который Вы можете оплатить в любом отделении #[a(href="#") Сбербанка России], 
					а также в любом другом банке. Пока оплата находится на 
					стадии поступления на наш расчетный счет, мы готовим #[a(href="#") Ваш заказ] к 
					отправке. В тот же день, когда необходимая сумма поступает на наш 
					расчетный счет, мы отправляем Ваш заказ.
				p.
					Менеджер Интернет-магазина обрабатывает Ваш заказ и выставляет 
					счет на Ваше имя, который Вы можете оплатить в любом отделении 
					Сбербанка России, а также в любом другом банке. Пока оплата 
					находится на стадии поступления на наш расчетный счет, мы 
					готовим Ваш заказ к отправке. В тот же день, когда необходимая сумма 
					поступает на наш расчетный счет, мы отправляем Ваш заказ.
			h2 Условия приема шин на утилизацию
			ul
				li Доставка по России осуществляется транспортной компанией в любой город нашей страны.
				li Цены на доставку грузовых шин, пожалуйста, уточните у менеджера.
				li Отправка производится в течении 2-ух рабочих дней после 100% предоплаты.
				li Обратите внимание, что сроки и стоимость доставки зависят от выбранной Вами транспортной компании.
				
			a.price(href="#") Скачать прайс-лист
			
			button.btn.invert Добавить утилизацию шин в корзину 
