extends ./layot

block config
	-var mainClass = "news"
	- var title = "О компании"

block content
	nav.pathway
		.container
			ul
				li: a(href="#") Главная страница
				li: a(href="#") О компании
				li Новости
	include ./modules/title-page
	nav.submenu
		.container
			ul
				li: a(href="#") О компании
				li: a(href="#") Дилеры и партнеры
				li: a(href="#") Доставка и оплата
				li: a(href="#") Новости
				li: a.active(href="#") Отзывы
				li: a(href="#") Статьи
	section.list.reviews
		.container
			article
				.body
					time 20.03.2016
					p ЗАО Кока-Кола
					img(src="#{imgPath}/review.jpg")
					.text.
						Работаем с компанией с 2007 года. Отличный поставщик хорошей шины и
						комплектующих для грузовых автомобилей. Очень помогла услуга
						«Выезд специалиста». Представитель «Грузшина» приехал, оценил
						состояние шин нашего автопарка.
					.author Директор Иванов И.И.
			article
				.body
					time 20.03.2016
					p ЗАО Кока-Кола
					img(src="#{imgPath}/review.jpg")
					.text.
						Работаем с компанией с 2007 года. Отличный поставщик хорошей шины и
						комплектующих для грузовых автомобилей. Очень помогла услуга
						«Выезд специалиста». Представитель «Грузшина» приехал, оценил
						состояние шин нашего автопарка.
					.author Директор Иванов И.И.
			article
				.body
					time 20.03.2016
					p ЗАО Кока-Кола
					img(src="#{imgPath}/review.jpg")
					.text.
						Работаем с компанией с 2007 года. Отличный поставщик хорошей шины и
						комплектующих для грузовых автомобилей. Очень помогла услуга
						«Выезд специалиста». Представитель «Грузшина» приехал, оценил
						состояние шин нашего автопарка.
					.author Директор Иванов И.И.
			article
				.body
					time 20.03.2016
					p ЗАО Кока-Кола
					img(src="#{imgPath}/review.jpg")
					.text.
						Работаем с компанией с 2007 года. Отличный поставщик хорошей шины и
						комплектующих для грузовых автомобилей. Очень помогла услуга
						«Выезд специалиста». Представитель «Грузшина» приехал, оценил
						состояние шин нашего автопарка.
					.author Директор Иванов И.И.
			article
				.body
					time 20.03.2016
					p ЗАО Кока-Кола
					img(src="#{imgPath}/review.jpg")
					.text.
						Работаем с компанией с 2007 года. Отличный поставщик хорошей шины и
						комплектующих для грузовых автомобилей. Очень помогла услуга
						«Выезд специалиста». Представитель «Грузшина» приехал, оценил
						состояние шин нашего автопарка.
					.author Директор Иванов И.И.
			article
				.body
					time 20.03.2016
					p ЗАО Кока-Кола
					img(src="#{imgPath}/review.jpg")
					.text.
						Работаем с компанией с 2007 года. Отличный поставщик хорошей шины и
						комплектующих для грузовых автомобилей. Очень помогла услуга
						«Выезд специалиста». Представитель «Грузшина» приехал, оценил
						состояние шин нашего автопарка.
					.author Директор Иванов И.И.
			article
				.body
					time 20.03.2016
					p ЗАО Кока-Кола
					img(src="#{imgPath}/review.jpg")
					.text.
						Работаем с компанией с 2007 года. Отличный поставщик хорошей шины и
						комплектующих для грузовых автомобилей. Очень помогла услуга
						«Выезд специалиста». Представитель «Грузшина» приехал, оценил
						состояние шин нашего автопарка.
					.author Директор Иванов И.И.
			article
				.body
					time 20.03.2016
					p ЗАО Кока-Кола
					img(src="#{imgPath}/review.jpg")
					.text.
						Работаем с компанией с 2007 года. Отличный поставщик хорошей шины и
						комплектующих для грузовых автомобилей. Очень помогла услуга
						«Выезд специалиста». Представитель «Грузшина» приехал, оценил
						состояние шин нашего автопарка.
					.author Директор Иванов И.И.
			article
				.body
					time 20.03.2016
					p ЗАО Кока-Кола
					img(src="#{imgPath}/review.jpg")
					.text.
						Работаем с компанией с 2007 года. Отличный поставщик хорошей шины и
						комплектующих для грузовых автомобилей. Очень помогла услуга
						«Выезд специалиста». Представитель «Грузшина» приехал, оценил
						состояние шин нашего автопарка.
					.author Директор Иванов И.И.
			include ./modules/pagination
	section.reviews-form
		a.btn-oval.invert.call-popup(href="#reviews-form") Оставьте отзыв
		include ./modules/reviews-form
