extends ./layot

block config
	- var mainClass = "tires"

block content
	nav.pathway
		.container
			ul
				li: a(href="#") Главная страница
				li: a(href="#") Сервис
				li Утилизация шин
	artcile.detail
		.container
			a.back(href="#") Шиномонтаж
			h1 Шиномонтаж «Рассвет»
			.detail-text
				.img.column
					img(src="#{imgPath}/tire/detail.jpg")
				.contacts.column
					ul
						li
							p Куда ехать:
							span Трасса Москва—СанктПетербург 450 км
						li
							p Как связаться:
							span Тел.: +7 (911) 620-43-95
						li
							p Режим работы:
							span Пн–Вс, круглосуточно
					a.price(href="#") Скачать прайс-лист
			.buttons
				.column
					p Появились вопросы?
					a.btn-oval.call-popup(href="#question-form") Задайте вопрос менеджеру
					include ./modules/form-question
				.column
					p Если вы уже выбрали шину и вам необходим шиномонтаж
					button.btn.invert Добавить Шиномонтаж в корзину
	.map#map(data-center="55.76, 37.64", data-baloon="55.76, 37.64", data-baloon-text="Москва")
		img(src="#{imgPath}/contacts/baloon.png")
	.text.on-detail-tires
		.container
			h2 Дополнительная информация
			p.
				Все этапы процесса шиномонтажа колеса сверхбольшого размера требуют
				применения специальных инструментов, оборудования и должны выполняться
				в строгом соответствии с регламентом на каждую операцию. Кроме того,
				для качественного выполнения монтажных работ просто необходимо
				использование вспомогательных приспособлений, о назначении и
				существовании которых «кустарные» мастера могут даже не догадываться.
