extends ./layot

block config
	- var title = "Сервис"
	- var mainClass = "tires"
	
block content
	nav.pathway
		.container
			ul
				li: a(href="#") Главная страница
				li: a(href="#") Сервис
				li Утилизация шин
	include ./modules/title-page
	nav.submenu
		.container
			ul
				li: a.active(href="#") Шиномонтаж
				li: a(href="#") Утилизация шин
				li: a(href="#") Сдача каркасов
				li: a(href="#") Рекламации
				li: a(href="#") Дополнительные услуги
	section.list
		.container
			#rostov.section
				h2 Ростовская область
				nav
					ul
						li: a(href="#krasnodar") Краснодарский край
						li: a(href="#adigeya") Республика Адыгея
				.row
					article
						a(href="#")
							img(src="#{imgPath}/tire/item1.jpg")
							p Шиномонтаж «Рассвет»
					article
						a(href="#")
							img(src="#{imgPath}/tire/item2.jpg")
							p Шиномонтаж «Рассвет»
					article
						a(href="#")
							img(src="#{imgPath}/tire/item3.jpg")
							p Шиномонтаж «Рассвет»
					article
						a(href="#")
							img(src="#{imgPath}/tire/item4.jpg")
							p Шиномонтаж «Рассвет»
					article
						a(href="#")
							img(src="#{imgPath}/tire/item5.jpg")
							p Шиномонтаж «Рассвет»
					article
						a(href="#")
							img(src="#{imgPath}/tire/item6.jpg")
							p Шиномонтаж «Рассвет»
			#krasnodar.section
				h2 Краснодарский край
				.row
					article
						a(href="#")
							img(src="#{imgPath}/tire/item1.jpg")
							p Шиномонтаж «Рассвет»
					article
						a(href="#")
							img(src="#{imgPath}/tire/item2.jpg")
							p Шиномонтаж «Рассвет»
					article
						a(href="#")
							img(src="#{imgPath}/tire/item3.jpg")
							p Шиномонтаж «Рассвет»
			#adigeya.section
				h2 Республика Адыгея
				.row
					article
						a(href="#")
							img(src="#{imgPath}/tire/item1.jpg")
							p Шиномонтаж «Рассвет»
					article
						a(href="#")
							img(src="#{imgPath}/tire/item2.jpg")
							p Шиномонтаж «Рассвет»
					article
						a(href="#")
							img(src="#{imgPath}/tire/item3.jpg")
							p Шиномонтаж «Рассвет»
	
	section.text
		.container
			h2 Условия шиномонтажа грузовых машин
			p.
				Все этапы процесса шиномонтажа колеса сверхбольшого размера требуют 
				применения специальных инструментов, оборудования и должны выполняться 
				в строгом соответствии с регламентом на каждую операцию. Кроме того, 
				для качественного выполнения монтажных работ просто необходимо 
				использование вспомогательных приспособлений, о назначении и 
				существовании которых «кустарные» мастера могут даже не догадываться.
			p.
				Немаловажным фактором успеха шиномонтажных работ на авторизированном 
				сервисном центре является оперативность выполняемых процессов. 
				За счет использования самого современного оборудования время на 
				проведение операций сокращается в несколько раз по сравнению с 
				аналогичными работами на «гаражном» оборудовании. Но кроме скорости 
				пропорционально возрастает и качество процедуры – точная электроника 
				все сделает идеально правильно.
