/*
 * Styles from filters on main page
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

@import "../modules/forms"
.filters
	margin: 73px 0 67px

	@media(max-width: $small)
		margin-top: 57px
		margin-bottom: 70px

	.container
		display: flex
		justify-content: space-between

		@media(max-width: $tablets)
			display: block

		.mobile-btns
			display: none
			font-size: 0

			a
				display: inline-block
				width: 49%
				text-align: center
				border-radius: 21px
				height: 150px
				line-height: 150px
				background: #f0f0f0
				color: #383838
				font-size: 16px

				@media(max-width: $mobiles)
					line-height: 1
					font-size: 14px
					height: auto
					padding: 40px 0

				&:first-of-type
					margin-right: 2%

				img, span
					display: inline-block
					vertical-align: middle

				img
					margin-right: 15px
					width: 30px

					@media(max-width: $mobiles)
						display: block
						margin: 0 auto 15px

			@media(max-width: $tablets)
				display: block

		.column
			width: 49.518%
			padding: 22px 21px 49px
			background: #f0f0f0
			border-radius: 21px

			@media(max-width: $tablets)
				display: none

			.title
				font-size: 26px
				height: 102px

				span
					vertical-align: middle

				img
					@extend span
					margin-right: 10px
					margin-left: 6px

			form
				font-size: 0

				@extend %custom-select

				.nice-select
					width: 48.91%
					margin-bottom: 13px
					padding: 0 21px

					@media(max-width: $small)
						padding: 0 19px
						width: 48%

					&:nth-of-type(odd)
						margin-right: 1.7%

						@media(max-width: $small)
							margin-right: 2%

				.form-group
					margin-top: 9px

					@extend %custom-checkbox

				input[type="submit"]
					margin-top: 41px
					margin-left: 4px
