/*
 * Index file from main page styles
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.main-page
	.title-brend
		+bg("main-page/title-bg.png", no-repeat)
		display: inline-block
		color: #fff
		font-size: 22px
		text-transform: uppercase
		padding-left: 18px
		padding-right: 16px
		height: 53px
		line-height: 1.5
		position: relative

		&::after
			content: ""
			display: block
			+absolute(1px, -15px)
			+bg("main-page/title-brand-right.png", no-repeat)
			width: 16px
			height: 33px

	.all
		font-family: Roboto-Light
		text-transform: uppercase
		font-size: 16px
		display: inline-block

	@import "slider"
	@import "filters"
	@import "../modules/adventure"
	@import "sales"
	@import "news"
	@import "reviews"
	@import "question"
