/*
 * Styles from news block on main page
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.news
	background: #35373b
	padding: 56px 0 35px

	.container
		a:hover
			color: #b00007

		.articles
			font-size: 0
			margin-bottom: 23px

			article
				display: inline-block
				vertical-align: top
				min-width: 298px
				height: 324px
				width: 24.1%
				background: #fff
				font-size: 16px
				margin-right: 1.1%
				margin-bottom: 1.1%
				border-radius: 20px
				padding: 32px 17px 29px
				line-height: 1.2

				&:last-of-type
					margin-right: 0

				@media(max-width: $small)
					margin-right: 2%
					padding: 35px 17px 29px

					&:first-of-type
						display: none

				@media(max-width: $small) and (orientation: portrait)
					min-width: 240px

				@media(max-width: $small) and (orientation: landscape)
					min-width: 292px

				@media(max-width: $tablets)
					display: inline-block
					width: 49%
					min-width: auto

					&:nth-of-type(2)
						display: none

					&:nth-of-type(3)
					 margin-right: 2%

				@media(max-width: $mobiles)
					width: 100%
					margin: 0

					&:nth-of-type(3)
						display: none

				time
					display: block
					font-size: 14px

				a
					max-width: 265px
					display: inline-block
					font-size: 18px
					font-family: Roboto-Bold
					text-decoration: none
					color: #383838
					margin: 19px 0 24px

					&:hover
						color: #b00007

				.text
					max-width: 340px

		.all
			color: #fff
