/*
 * Styles from question block
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.question
	background: #35373b

	.container
		height: 190px

		.call-popup
			width: 248px
			height: 63px
			line-height: 60px
			border-radius: 40px
			font-size: 24px
			position: relative
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			font-family: Roboto-Regular
