/*
 * Styles from reviews block on main page
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.reviews
	background: #eee
	padding: 56px 0 38px

	@media(max-width: $mobiles)
		display: none

	@media(max-width: $tablets) and (orientation: landscape)
		display: none

	.reviews-body
		font-size: 0

		article
			display: inline-block
			font-size: 16px
			width: 31.898%
			background: #fff
			border-radius: 20px
			padding: 31px 17px 29px
			line-height: 1.3
			margin-right: 2.1%
			position: relative

			@media(max-width: $small)
				width: 47.999%
				margin-right: 4%
				padding: 30px 16px 31px

				&:nth-of-type(2)
					margin-right: 0

				&:last-of-type
					display: none

			&::before
				content: ""
				+bg("main-page/review-bg.png", no-repeat 0 0)
				width: 100%
				height: 36px
				+absolute(42px, auto, auto, 0)

			&:last-of-type
				margin-right: 0

			.title
				color: #383838
				font-family: Roboto-Bold
				font-size: 18px
				margin-bottom: 44px

			.text
				img
					display: inline-block
					vertical-align: top
					margin-right: 10px
					margin-bottom: 20px

					@media(max-width: $tablets)
						display: block

				.body
					display: inline-block
					vertical-align: top
					max-width: 285px
					width: 68%

					@media(max-width: $tablets)
						max-width: 100%
						width: 100%

					.author
						margin-top: 20px

	.all
		color: #383838
		margin-top: 21px

		@media(max-width: $small)
			margin-left: 29px

		&:hover
			color: #b00007
