/*
 * Styles from sales block on main page
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

%brand
	+bg("main-page/brand.png", no-repeat)
	+absolute(24px, -12px)
	width: 54px
	height: 45px
	color: #fff
	text-transform: uppercase
	font-size: 14px
	font-family: Roboto-Bold
	text-align: center
	line-height: 30px
	z-index: 2

	&.percent
		font-size: 24px
		padding-right: 10px

.sales
	padding: 38px 0 35px

	@media(max-width: $small)
		padding: 44px 0 35px

	.container
		ul
			+resetCss
			list-style-type: none

			.slick-track
				display: flex
				justify-content: space-between

				&::before
					display: none

			li
				max-width: 210px
				display: block
				padding-top: 18px
				font-family: Roboto-Regular
				font-size: 14px
				text-decoration: none
				color: #383838
				position: relative

				@media(max-width: $mobiles)
					max-width: 150px
					padding: 10px 15px 0

				@media(max-width: $tablets) and (orientation: landscape)
					max-width: 185px

				&::before
					content: ""
					+absolute(0, auto, auto, 0)
					+size(100%)
					opacity: 0.1
					background: #595959
					z-index: 1

				.brand
					@extend %brand

				.img
					margin: 0 0 19px
					height: 153px
					position: relative

					@media(max-width: $mobiles)
						height: 130px
						margin: 0

					img
						+absolute(50%, auto, auto, 50%)
						transform: translate(-50%, -50%)
						z-index: 0

						@media(max-width: $mobiles)
							width: 100%

					a
						display: block
						+absolute(0, auto, auto, 0)
						+size(100%)
						z-index: 2
						outline: none

				.text
					margin: 0 0 39px
					line-height: 1.3
					padding: 0 24px

					@media(max-width: $mobiles)
						margin: 0 0 10px
						padding-left: 0

					a
						margin: 0 0 15px
						font-family: Roboto-Bold
						text-decoration: underline
						display: block
						color: #383838
						z-index: 2
						position: relative

				.price-item
					font-family: Roboto-Bold
					font-size: 17px
					padding-left: 24px

					@media(max-width: $mobiles)
						margin: 0 0 10px

					.add-basket
						+size(42px)
						+bg("add-basket.png", no-repeat)
						border: none
						padding: 0
						cursor: pointer
						z-index: 2
						position: relative
						float: right
						margin-right: 13px
						top: -9px

						@media(max-width: $mobiles)
							top: 0
							margin: 15px auto
							display: block
							float: none

		.all
			margin-top: 28px
			color: #383838

			&:hover
				color: #ed1c24
				+transition(color)

			@media(max-width: $small)
				margin-top: 21px
