/*
 * Styles from slider on main page
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.slider
	@media(max-width: $mobiles)
		display: none

	@media(max-width: $tablets) and (orientation: landscape)
		display: none

	.container
		padding: 0

		ul
			$l: 6%

			+resetCss
			list-style-type: none

			li
				position: relative
				color: #fff
				font-size: 22px
				font-family: Roboto-Regular

				@media(max-width: $tablets)
					font-size: 17px

				img
					width: 100%

					@media(max-width: 1024px)
						width: auto
						height: 555px

				.body
					+absolute(25.7%, auto, auto, $l)

					@media(max-width: $small)
						+absolute(25.7%, auto, auto, 1.7%)

					@media(max-width: $small)
						top: 22.43%

					.title
						font-family: Roboto-Bold
						font-size: 75px
						text-transform: uppercase
						margin: 0 0 35px
						line-height: 1.1

						@media(max-width: $tablets)
							font-size: 50px

			.slick-dots
				+absolute(auto, auto, 10%, $l)

				@media(max-width: $small)
					left: 2.2%

				//@media(max-width: $tablets) and (orientation: landscape)
				//	top: 90%

				li
					font-size: 0
					display: inline-block
					margin-right: 18px

					button
						border: none
						background: #fff
						+size(14px)
						border-radius: 100%
						position: relative

					&.slick-active
						button
							background: #ed1c24

			.slick-arrow
				font-size: 0
				+absolute(31.3%, 6.55%)
				+bg("main-page/arrows.png", 0 0 no-repeat)
				width: 41px
				height: 72px
				padding: 0
				z-index: 1
				border: none

				@media(max-width: $small)
					top: 24.5%
					right: 2%

				&.slick-prev
					top: 60.3%
					background-position: 0 -74px

					@media(max-width: $small)
						top: 62.5%
