/*
 * Styles from detail tires page
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.detail
	.container
		padding-top: 55px

		@media(max-width: $mobiles)
			padding-top: 0

		h1
			margin: 9px 0 38px

		.detail-text
			margin: 0 0 50px

			.img
				width: 53.9%

				@media(max-width: $small)
					width: 56.3%

				@media(max-width: $mobiles)
					width: 100%
					margin-bottom: 20px

				img
					width: 89%

					@media(max-width: $mobiles)
						width: 100%

			.contacts
				vertical-align: top
				max-width: 285px
				line-height: 1
				margin-top: -2px

				@media(max-width: $tablets) and (orientation: landscape)
					width: 42%

				ul
					+resetCss
					list-style-type: none

					li
						font-family: Roboto-Bold
						margin-bottom: 36px

						p
							margin: 0 0 13px

						span
							font-family: Roboto-Regular
							line-height: 1.2

				.price
					margin: -14px 0 0 -6px

		.buttons
			font-size: 22px
			margin: 0 0 82px

			@media(max-width: $small)
				display: flex
				justify-content: space-between
				align-items: flex-end

			@media(max-width: $mobiles)
				display: block
				margin: 0

			@media(max-width: $tablets) and (orientation: landscape)
				display: block

			.column
				vertical-align: baseline

				@media(max-width: $mobiles)
					width: 100% !important
					margin-bottom: 20px

				@media(max-width: $tablets) and (orientation: landscape)
					width: 100% !important
					margin-bottom: 20px

				&:first-of-type
					width: 53.8%

					p
						padding-left: 22px

						@media(max-width: $mobiles)
							padding-left: 0

				p
					max-width: 360px
					font-family: Roboto-Regular
					margin: 0 0 20px

				.btn-oval, .btn
					font-family: Roboto-Light
					text-transform: uppercase

					@media(max-width: $mobiles)
						margin: 0 auto
						width: 100%

				.btn-oval
					padding: 13px 32px
					height: auto
					font-size: 22px
					letter-spacing: -1px
					border-radius: 35px
					width: auto
					display: inline-block

					@media(max-width: $tablets)
						font-size: 18px
						padding: 5px 15px

					@media(max-width: $mobiles)
						padding: 20px

				.btn
					font-size: 20px
					padding: 22px 23px
					letter-spacing: 0.1px

					@media(max-width: $tablets)
						font-size: 17px
						padding: 15px

.text.on-detail-tires
	margin-top: 0

	.container
		padding-top: 21px
		padding-bottom: 23px
