/*
 * Index file from tire styles
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.tires
	@import "list"
	@import "detail"

	.text
		background: #35373b
		margin-top: 45px
		color: #abadb1

		.container
			padding-top: 30px
			padding-bottom: 30px

			h2
				color: #fff
				margin-bottom: 24px

			p
				margin-bottom: 21px
				line-height: 1.5
