/*
 * Styles from page tire list
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.list
	.container
		.section
			margin: 0 0 28px

			h2
				margin-bottom: 38px

			&:first-of-type
				h2
					display: inline-block
				nav
					display: inline-block

					@media(max-width: $mobiles)
						display: none

					ul
						+resetCss
						list-style-type: none

						li
							display: inline-block
							margin-left: 37px

							a
								color: #383838
								text-decoration: none
								border-bottom: 1px dotted #383838

			.row
				font-size: 0

				article
					display: inline-block
					vertical-align: top
					width: 25%
					font-size: 18px
					font-family: Roboto-Regular
					margin: 0 0 35px

					@media(max-width: $small)
						width: 33.333%

						&:nth-of-type(3n) a
							margin-right: 0
							margin-left: auto

					@media(max-width: $mobiles)
						margin: 0 0 25px!important

					&:nth-of-type(4n) a
						margin-right: 0
						margin-left: auto

						@media(max-width: $small)
							margin: 0

					&:nth-of-type(4n + 1) a
						margin-left: 0
						margin-right: auto

						@media(max-width: $small)
							margin: 0

					@media(max-width: $mobiles)
						width: 100%

					a
						display: block
						margin: 0 auto
						width: 95.695%

						@media(max-width: $mobiles)
							width: 100%

						p
							margin: 12px 0 0

						img
							width: 100%
