section.filter
	.container
		form
			.form-group
				select.styler(name="weight")
					option(value="default" selected) Ширина
					option(value="1") 1
					option(value="2") 2
				select.styler(name="profil")
					option(value="default" selected) Профиль
					option(value="1") 1
				select.styler(name="diametr")
					option(value="default" selected) Диаметр
					option(value="1") 1
				select.styler(name="diametr")
					option(value="default" selected) Ось
					option(value="1") 1
			.form-group
				.checbox-custom
					input(id="akcii" name="akcii", type="checkbox", value="Y")
					label(for="akcii") Новинка / Акция
			.form-group
				.checboxes#manufactures
					.checbox-custom
						input(id="manufacturer1" name="manufacturer", type="checkbox")
						label(for="manufacturer1")
							img(src="#{imgPath}/catalog/michelin.jpg")
					.checbox-custom
						input(id="manufacturer2" name="manufacturer", type="checkbox")
						label(for="manufacturer2")
							img(src="#{imgPath}/catalog/yokohama.jpg")
					.checbox-custom
						input(id="manufacturer3" name="manufacturer", type="checkbox")
						label(for="manufacturer3")
							img(src="#{imgPath}/catalog/goodyear.jpg")
					.checbox-custom
						input(id="manufacturer4" name="manufacturer", type="checkbox")
						label(for="manufacturer4")
							img(src="#{imgPath}/catalog/kormoran.jpg")
					.checbox-custom
						input(id="manufacturer5" name="manufacturer", type="checkbox")
						label(for="manufacturer5")
							img(src="#{imgPath}/catalog/continental.jpg")
					.checbox-custom
						input(id="manufacturer6" name="manufacturer", type="checkbox")
						label(for="manufacturer6")
							img(src="#{imgPath}/catalog/hankook.jpg")
					.checbox-custom
						input(id="manufacturer7" name="manufacturer", type="checkbox")
						label(for="manufacturer7")
							img(src="#{imgPath}/catalog/continental.jpg")
					.checbox-custom
						input(id="manufacturer8" name="manufacturer", type="checkbox")
						label(for="manufacturer8")
							img(src="#{imgPath}/catalog/hankook.jpg")
					.checbox-custom
						input(id="manufacturer9" name="manufacturer", type="checkbox")
						label(for="manufacturer9")
							img(src="#{imgPath}/catalog/sava.jpg")
					.checbox-custom
						input(id="manufacturer10" name="manufacturer", type="checkbox")
						label(for="manufacturer10")
							img(src="#{imgPath}/catalog/cordiant.jpg")
					.checbox-custom
						input(id="manufacturer11" name="manufacturer", type="checkbox")
						label(for="manufacturer11")
							img(src="#{imgPath}/catalog/kelly.jpg")
					.checbox-custom
						input(id="manufacturer12" name="manufacturer", type="checkbox")
						label(for="manufacturer12")
							img(src="#{imgPath}/catalog/bridgestone.jpg")
					.checbox-custom
						input(id="manufacturer13" name="manufacturer", type="checkbox")
						label(for="manufacturer13")
							img(src="#{imgPath}/catalog/kama.jpg")
					.checbox-custom
						input(id="manufacturer14" name="manufacturer", type="checkbox")
						label(for="manufacturer14")
							img(src="#{imgPath}/catalog/linglong.jpg")
					.checbox-custom
						input(id="manufacturer15" name="manufacturer", type="checkbox")
						label(for="manufacturer15")
							img(src="#{imgPath}/catalog/michelin.jpg")
					.checbox-custom
						input(id="manufacturer16" name="manufacturer", type="checkbox")
						label(for="manufacturer16")
							img(src="#{imgPath}/catalog/yokohama.jpg")
					.checbox-custom
						input(id="manufacturer17" name="manufacturer", type="checkbox")
						label(for="manufacturer17")
							img(src="#{imgPath}/catalog/goodyear.jpg")
					.checbox-custom
						input(id="manufacturer18" name="manufacturer", type="checkbox")
						label(for="manufacturer18")
							img(src="#{imgPath}/catalog/kormoran.jpg")
					.checbox-custom
						input(id="manufacturer19" name="manufacturer", type="checkbox")
						label(for="manufacturer19")
							img(src="#{imgPath}/catalog/michelin.jpg")
					.checbox-custom
						input(id="manufacturer20" name="manufacturer", type="checkbox")
						label(for="manufacturer20")
							img(src="#{imgPath}/catalog/yokohama.jpg")
					.checbox-custom
						input(id="manufacturer21" name="manufacturer", type="checkbox")
						label(for="manufacturer21")
							img(src="#{imgPath}/catalog/goodyear.jpg")
					.checbox-custom
						input(id="manufacturer22" name="manufacturer", type="checkbox")
						label(for="manufacturer22")
							img(src="#{imgPath}/catalog/kormoran.jpg")
					.checbox-custom
						input(id="manufacturer23" name="manufacturer", type="checkbox")
						label(for="manufacturer23")
							img(src="#{imgPath}/catalog/continental.jpg")
					.checbox-custom
						input(id="manufacturer24" name="manufacturer", type="checkbox")
						label(for="manufacturer24")
							img(src="#{imgPath}/catalog/hankook.jpg")
				a.toggle-more(href="#manufactures") Больше производителей
			input.btn.invert(type="submit", value="Показать")
