section.items
	.container
		h2 Результаты #[span (232)]
		table
			tbody
				tr
					td
						.stock %
					td
						a(href="#")
							img(src="#{imgPath}/catalog/list-item1.jpg")

					td
						a(href="#") Hankook AM06 1200R24 pr18 156/153K
					td 1200/R24
					td 24 000 руб.
					td В наличии #[span.mobile-indicator]
					td
						input(type="text", name="count", value="1")
						span шт.
					td
						a.add-basket(href="#id1")

				tr
					td
						.stock %
					td
						a(href="#")
							img(src="#{imgPath}/catalog/list-item2.jpg")

					td
						a(href="#") Hankook AL10 385/55R22.5 pr18 158L(160K)
					td 1200/R24
					td 25 000 руб.
					td
						.red Под заказ #[span.mobile-indicator]
					td
						input(type="text", name="count", value="1")
						span шт.
					td
						a.add-basket(href="#id1")

				tr
					td
					td
						a(href="#")
							img(src="#{imgPath}/catalog/list-item1.jpg")

					td
						a(href="#") Hankook AM06 1200R24 pr18 156/153K
					td 1200/R24
					td 27 000 руб.
					td В наличии #[span.mobile-indicator]
					td
						input(type="text", name="count", value="1")
						span шт.
					td
						a.add-basket(href="#id1")

				tr
					td
						.stock.new new
					td
						a(href="#")
							img(src="#{imgPath}/catalog/list-item1.jpg")

					td
						a(href="#") Hankook AL10 385/55R22.5 pr18 158L(160K)
					td 1200/R24
					td 30 000 руб.
					td В наличии #[span.mobile-indicator]
					td
						input(type="text", name="count", value="1")
						span шт.
					td
						a.add-basket(href="#id1")

				tr
					td
					td
						a(href="#")
							img(src="#{imgPath}/catalog/list-item1.jpg")

					td
						a(href="#") Hankook AM06 1200R24 pr18 156/153K
					td 1200/R24
					td 24 000 руб.
					td В наличии #[span.mobile-indicator]
					td
						input(type="text", name="count", value="1")
						span шт.
					td
						a.add-basket(href="#id1")

				tr
					td
					td
						a(href="#")
							img(src="#{imgPath}/catalog/list-item2.jpg")

					td
						a(href="#") Hankook AL10 385/55R22.5 pr18 158L(160K)
					td 1200/R24
					td 25 000 руб.
					td
						.red Под заказ #[span.mobile-indicator]
					td
						input(type="text", name="count", value="1")
						span шт.
					td
						a.add-basket(href="#id1")

				tr
					td
					td
						a(href="#")
							img(src="#{imgPath}/catalog/list-item1.jpg")

					td
						a(href="#") Hankook AM06 1200R24 pr18 156/153K
					td 1200/R24
					td 27 000 руб.
					td В наличии #[span.mobile-indicator]
					td
						input(type="text", name="count", value="1")
						span шт.
					td
						a.add-basket(href="#id1")

				tr
					td
						.stock.new new
					td
						a(href="#")
							img(src="#{imgPath}/catalog/list-item1.jpg")

					td
						a(href="#") Hankook AL10 385/55R22.5 pr18 158L(160K)
					td 1200/R24
					td 30 000 руб.
					td В наличии #[span.mobile-indicator]
					td
						input(type="text", name="count", value="1")
						span шт.
					td
						a.add-basket(href="#id1")

		include ../../modules/pagination
