section.our-services
	.container
		h2 Мы предлагаем вам наши услуги
		ul
			li
				.body
					a(href="#")
						.img
							img(src="#{imgPath}/catalog/our-services1.jpg")
						p Сдача каркасов
					span Принимаем #[br] на восстановление определенные марки грузовой шины.
			li
				.body
					a(href="#")
						.img
							img(src="#{imgPath}/catalog/our-services2.jpg")
						p Утилизация шин
					span Принимаем #[br] на восстановление определенные марки грузовой шины.
			li
				.body
					a(href="#")
						.img
							img(src="#{imgPath}/catalog/our-services3.jpg")
						p Рекламации
					span Предлагаем помощь в подаче рекламации производителям шин.
