/*
 * Styles from detail page catalog
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

@import "../main/sales"

%first-column
	width: 54.341%
	margin-right: 5.1%

	@media(max-width: $mobiles)
		width: 100%
		margin-right: 0

.detail
	.title
		h1
			font-size: 30px

	article
		font-family: Roboto-Regular

		.container
			.item
				.column
					vertical-align: text-bottom

					p
						margin-bottom: 42px

						@media(max-width: $mobiles)
							margin-bottom: 15px

					.price-section
						p
							margin: 0 0 8px
							font-size: 30px
							line-height: 1

						.old
							color: #ed1c24
							text-decoration: line-through

					.form-group
						margin: 32px 0 40px

						@media(max-width: $mobiles)
							margin: 20px 0

						input
							width: 57px
							height: 37px
							text-align: center
							padding: 0
							margin: 0 7px
							border: 1px solid #000

					.add-basket
						font-size: 20px
						width: 210px
						height: 67px

						&:hover
							background: #ed1c24

						img
							vertical-align: middle

					&:first-of-type
						@extend %first-column
						text-align: center
						position: relative
						padding: 2.644% 0

						.brand
							@extend %brand
							top: 20px

							@media(max-width: $mobiles)
								display: none

						&::before
							content: ""
							display: block
							+absolute(0, auto, auto, 0)
							opacity: 0.1
							background-color: #595959
							width: 100%
							height: 100%

			.text
				margin: 61px 0 44px

				@media(max-width: $mobiles)
					margin: 30px 0 10px

				.column
					width: 37%
					vertical-align: top
					min-width: 365px

					@media(max-width: $mobiles)
						width: 100%
						min-width: 0

					@media(max-width: $tablets)
						min-width: 0

					@media(max-width: $tablets) and (orientation: landscape)
						width: 100%

					p
						margin: 7px 0 22px
						line-height: 1.67

					h2
						margin: 0 0 47px

					dl
						max-width: 475px
						min-width: 387px
						width: 100%
						margin-bottom: 21px
						font-size: 16px
						margin-left: 3px

						@media(max-width: $mobiles)
							max-width: 100%
							min-width: 0

						dd
							display: inline-block
							margin: 0
							width: 39%
							vertical-align: top

							@media(max-width: $mobiles)
								width: 49%
								vertical-align: top

						dt
							@extend dd
							width: 59.5%

							@media(max-width: $mobiles)
								width: 49%

					&:first-of-type
						@extend %first-column
