/*
 * Index file from catalog pages
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.catalog
	.title
		margin: 24px 0 29px

		.container
			display: flex
			align-items: center

			img
				margin-right: 15px

			h1
				margin: 0

	@import "./list/index"
	@import "../modules/adventure"

	.adventure
		padding: 19px 0 39px

		.container ul li .hidden
			height: 235px

			@media(max-width: $mobiles)
				height: 170px

@import "./detail"
