/*
 * Styles from news detail
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.detail
	padding: 55px 0 92px

	@media(max-width: $mobiles)
		padding: 20px 0 30px

	@media(max-width: $tablets) and (orientation: landscape)
		padding: 20px 0 30px

	article
		.container
			h1
				margin: 9px 0 16px
				color: #383838
				font-family: Roboto-Medium

				@media(max-width: $mobiles)
					font-size: 25px

			time
				display: block
				font-size: 14px
				margin-bottom: 36px

			img
				margin: 0 0 38px

				@media(max-width: $tablets)
					width: 100%

			p
				line-height: 1.7
				margin: 0 0 30px

				@media(max-width: $mobiles)
					margin: 0 0 20px
