/*
 * Index file from news styles
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.news
	.back:last-of-type
			margin-top: 40px
			display: inline-block

			@media(max-width: $mobiles)
				margin-top: 20px

	@import "list"
	@import "detail"
