/*
 * Styles from news list
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.list
	font-size: 0
	margin: 65px 0 0

	article
		width: 33.333%
		display: inline-block
		vertical-align: top
		font-size: 16px
		margin-bottom: 62px
		font-family: Roboto-Regular

		&:nth-of-type(3n) a, &:nth-of-type(3n) .body
			margin-right: 0

		&:nth-of-type(3n + 1) a, &:nth-of-type(3n + 1) .body
			margin-left: 0

		@media(max-width: $small)
			width: 50%

			&:nth-of-type(2n) a, &:nth-of-type(2n) .body
				margin-left: auto

		@media(max-width: $mobiles)
			width: 100%

		a, .body
			color: #383838
			text-decoration: none
			width: 20%
			display: block
			width: 83.735%
			margin: 0 auto

			@media(max-width: $small)
				width: 92.736%
				margin: 0

			@media(max-width: $mobiles)
				width: 100%

			&:hover p
				color: #ed1c24

			time
				font-size: 14px

			img
				display: block
				width: auto
				height: 265px
				margin: 0 auto 24px

				@media(max-width: $mobiles)
					margin-bottom: 15px

			p
				margin: 20px 0 23px
				font-family: Roboto-Bold
				font-size: 18px
				+transition(color)

				@media(max-width: $mobiles)
					margin: 10px 0 13px
