section.adventure
	.container
		ul
			li
				.visible
					.title ОПЛАТА
					img(src="#{imgPath}/main-page/advent1.png")
				.hidden.animated
					.title ОПЛАТА
					.text.
						Оплата любым удобным для вас способом: наличные, карты, безналичные 
						перечисления
			li
				.visible
					.title ДОСТАВКА
					img(src="#{imgPath}/main-page/advent2.png")
				.hidden.animated
					.title ДОСТАВКА
					.text.
						Оплата любым удобным для вас способом: наличные, карты, безналичные 
						перечисления
			li
				.visible
					.title ДОСТУПНЫЕ ЦЕНЫ
					img(src="#{imgPath}/main-page/advent3.png")
				.hidden.animated
					.title ДОСТУПНЫЕ ЦЕНЫ
					.text.
						Оплата любым удобным для вас способом: наличные, карты, безналичные 
						перечисления
			li
				.visible
					.title КОМПЛЕКСНЫЕ УСЛУГИ
					img(src="#{imgPath}/main-page/advent4.png")
				.hidden.animated
					.title КОМПЛЕКСНЫЕ УСЛУГИ
					.text.
						Оплата любым удобным для вас способом: наличные, карты, безналичные 
						перечисления
