.popup-windows#call-me
	button.close ×
	.title Перезвоните мне
	form
		input.required(type="text", name="name", placeholder="Ваше имя")
		input.required(type="tel", name="tel")
		.error-msg Заполните пожалуйста поля
		input.btn-oval.invert(type="submit", value="Отправить")
		.sucsess
			p Мы свяжемся с вами в течении рабочего дня
