.popup-windows#question-form
	button.close ×
	.title Задать вопрос
	form
		input.required(type="text", name="name", placeholder="Имя")
		input.required(type="text", name="email", placeholder="Телефон или E-mail")
		textarea.required(placeholder="Ваш вопрос")
		.error-msg Заполните пожалуйста поля
		input.btn-oval.invert(type="submit", value="Отправить")
		.sucsess
			p Мы свяжемся с вами в течении рабочего дня
