.popup-window#reviews-form
	button.close ×
	.title Написать отзыв
	form
		input.required(type="text", name="name", placeholder="Название компании")
		input.required(type="text", name="email", placeholder="ФИО, должность")
		textarea.required(placeholder="Текст отзыва")
		.error-msg Заполните пожалуйста поля
		input.btn-oval.invert(type="submit", value="Отправить")
		.sucsess
			p Ваш отзыв принят. Спасибо!
