section.filters
	.container
		.mobile-btns
			a(href="#")
				img(src="#{imgPath}/main-page/icon-filter1.png")
				span Выберите шины
			a(href="#")
				img(src="#{imgPath}/main-page/icon-filter2.png")
				span Выберите диски
				
		.column
			.title
				img(src="#{imgPath}/main-page/icon-filter1.png")
				span Выберите шины
			form
				select.styler(name="weight")
					option(value="default" selected) Ширина
					option(value="1") 1
					option(value="2") 2
				select.styler(name="profil")
					option(value="default" selected) Профиль
					option(value="1") 1
				select.styler(name="diametr")
					option(value="default" selected) Диаметр
					option(value="1") 1
				select.styler(name="diametr")
					option(value="default" selected) Ось
					option(value="1") 1
				.form-group
					.checbox-custom
						input(id="akcii1" name="akcii", type="checkbox")
						label(for="akcii1") Новинка / Акция
				input.btn(type="submit", value="Показать")
		.column
			.title
				img(src="#{imgPath}/main-page/icon-filter2.png")
				span Выберите диски
			form
				select.styler(name="diametr")
					option(value="default" disabled selected) Диаметр
					option(value="1") 1
				select.styler(name="type")
					option(value="default" disabled selected) Тип диска
					option(value="1") 1
				select.styler(name="count")
					option(value="default" disabled selected) Кол-во отверстий
					option(value="1") 1
				select.styler(name="pcd")
					option(value="default" disabled selected) PCD
					option(value="1") 1
				.form-group
					.checbox-custom
						input(id="akcii2" name="akcii", type="checkbox")
						label(for="akcii2") Новинка / Акция
				input.btn(type="submit", value="Показать")
