section.news
	.container
		.title-brend Новости
		.articles
			article
				time 20.03.2016
				a(href="#") Компания Мишлен предупреждает о повышении цен на 7% с 01.09.2015 г.1
				.text.
					Компания Мишлен предупреждает
					о повышении цен на 7% с 01.09.2015 г. 
					Успейте заказать и приобрести грузовую шину по доступным ценам.
			article
				time 20.03.2016
				a(href="#") Компания Мишлен предупреждает о повышении цен на 7% с 01.09.2015 г.2
				.text.
					Компания Мишлен предупреждает
					о повышении цен на 7% с 01.09.2015 г. 
					Успейте заказать и приобрести грузовую шину по доступным ценам.
			article
				time 20.03.2016
				a(href="#") Компания Мишлен предупреждает о повышении цен на 7% с 01.09.2015 г.3
				.text.
					Компания Мишлен предупреждает
					о повышении цен на 7% с 01.09.2015 г. 
					Успейте заказать и приобрести грузовую шину по доступным ценам.
			article
				time 20.03.2016
				a(href="#") Компания Мишлен предупреждает о повышении цен на 7% с 01.09.2015 г.4
				.text.
					Компания Мишлен предупреждает
					о повышении цен на 7% с 01.09.2015 г. 
					Успейте заказать и приобрести грузовую шину по доступным ценам.
		a.all(href="#") ВСЕ Новости
