section.reviews
	.container
		.title-brend Отзывы
		.reviews-body
			article
				.title ЗАО Кока-Кола
				.text
					img(src="#{imgPath}/main-page/reviews.png")
					.body.
						Работаем с компанией с 2007 года. Отличный поставщик хорошей шины 
						и комплектующих для грузовых автомобилей. Очень помогла 
						услуга«Выезд специалиста». Представитель «Грузшина» приехал, 
						оценил состояние шин нашего автопарка.
						#[.author Директор Иванов И.И.]
			article
				.title ЗАО Кока-Кола
				.text
					img(src="#{imgPath}/main-page/reviews.png")
					.body.
						Работаем с компанией с 2007 года. Отличный поставщик хорошей шины 
						и комплектующих для грузовых автомобилей. Очень помогла 
						услуга«Выезд специалиста». Представитель «Грузшина» приехал, 
						оценил состояние шин нашего автопарка.
						#[.author Директор Иванов И.И.]
			article
				.title ЗАО Кока-Кола
				.text
					img(src="#{imgPath}/main-page/reviews.png")
					.body.
						Работаем с компанией с 2007 года. Отличный поставщик хорошей шины 
						и комплектующих для грузовых автомобилей. Очень помогла 
						услуга«Выезд специалиста». Представитель «Грузшина» приехал, 
						оценил состояние шин нашего автопарка.
						#[.author Директор Иванов И.И.]
		a.all(href="#") ВСЕ отзывы
