section.sales
	.container
		.title-brend Новинки и акции
		ul
			li
				.brand.percent %
				.img
					img(src="#{imgPath}/main-page/sales2.jpg")
					a(href="#")
				.text
					a(href="#") Sava Avant MS2
					span Универсальные, смешанный тип дорог
				.price-item
					span 20 000 руб.
					button.add-basket(href="#")
			li
				.brand new
				.img
					img(src="#{imgPath}/main-page/sales1.jpg")
					a(href="#")
				.text
					a(href="#") Sava Avant MS2
					span Универсальные, смешанный тип дорог
				.price-item
					span 20 000 руб.
					button.add-basket(href="#")
			li
				.brand.percent %
				.img
					img(src="#{imgPath}/main-page/sales1.jpg")
					a(href="#")
				.text
					a(href="#") Sava Avant MS2
					span Универсальные, смешанный тип дорог
				.price-item
					span 20 000 руб.
					button.add-basket(href="#")
			li
				.brand new
				.img
					img(src="#{imgPath}/main-page/sales2.jpg")
					a(href="#")
				.text
					a(href="#") Sava Avant MS2
					span Универсальные, смешанный тип дорог
				.price-item
					span 20 000 руб.
					button.add-basket
			li
				.brand.percent %
				.img
					img(src="#{imgPath}/main-page/sales1.jpg")
					a(href="#")
				.text
					a(href="#") Sava Avant MS2
					span Универсальные, смешанный тип дорог
				.price-item
					span 20 000 руб.
					button.add-basket(href="#")
			li
				.brand new
				.img
					img(src="#{imgPath}/main-page/sales2.jpg")
					a(href="#")
				.text
					a(href="#") Sava Avant MS2
					span Универсальные, смешанный тип дорог
				.price-item
					span 20 000 руб.
					button.add-basket(href="#")
		a.all(href="#") Показать все
