section.slider
	.container
		ul
			li
				img(src="#{imgPath}/main-page/slider.jpg")
				.body
					.title Переобуйтесь #[br] по дороге
					.text.
						11 точек грузового шиномонтажа #[br]
						в Ростовской области, Краснодарском крае #[br]
						и Республике Адыгея
			li
				img(src="#{imgPath}/main-page/slider.jpg")
				.body
					.title Переобуйтесь #[br] по дороге
					.text.
						11 точек грузового шиномонтажа #[br]
						в Ростовской области, Краснодарском крае #[br]
						и Республике Адыгея
			li
				img(src="#{imgPath}/main-page/slider.jpg")
				.body
					.title Переобуйтесь #[br] по дороге
					.text.
						11 точек грузового шиномонтажа #[br]
						в Ростовской области, Краснодарском крае #[br]
						и Республике Адыгея
