/*
 * Styles from advenutre block on main page
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

%title
	width: 150px
	margin: 0 auto
	line-height: 1.2
	height: 50px
	font-family: Roboto-Light
	font-size: 20px

	@media(max-width: $mobiles)
		font-size: 17px
		height: 40px

.adventure
	+bg("/main-page/advent-bg.png", no-repeat right bottom #35373b)
	padding: 34px 0 109px

	@media(max-width: $small)
		padding-bottom: 108px

	@media(max-width: $mobiles)
		padding-bottom: 100px

	.container
		ul
			+resetCss
			list-style-type: none
			font-size: 0

			li
				display: inline-block
				vertical-align: top
				width: 25%
				color: #fff
				font-family: Roboto-Regular
				font-size: 16px
				text-align: center
				cursor: pointer
				position: relative

				@media(max-width: $tablets)
					width: 33.333%

					&:last-of-type
						display: none

				@media(max-width: $mobiles)
					width: 50%
					font-size: 14px

					&:nth-of-type(3)
						display: none

				.visible
					margin-top: 33px

					@media(max-width: $mobiles)
						margin-top: 15px

					img
						margin-top: 35px

						@media(max-width: $mobiles)
							margin-top: 15px

					.title
						@extend %title

				.hidden
					display: none
					+absolute(0, 0, auto, 0)
					margin: auto
					max-width: 225px
					width: 100%
					height: 297px
					background-color: #ed1c24
					border-radius: 20px
					text-align: left
					padding: 39px 26px

					@media(max-width: $mobiles)
						padding: 20px 15px
						height: 215px

					.title
						@extend %title
						margin: 0 0 16px
						height: auto

					.text
						hyphens: auto
						line-height: 1.2
