/*
 * Styles from catalog button module
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.module-catalog-btn
	background: #35373b
	height: 247px

	@media(max-width: $mobiles)
		display: none

	.container
		max-width: 983px
		display: flex
		justify-content: space-between
		align-items: center
		height: 100%

		a
			vertical-align: middle
			background: #ed1c24
			color: #fff
			text-decoration: none
			width: 47.6%
			height: 104px
			text-align: center
			line-height: 105px
			text-transform: uppercase
			font-size: 20px
			font-family: Roboto-Light

			&:hover
				background: #ce0008
				+transition(background)

			img
				vertical-align: middle
				margin-right: 16px
