/*
 * Styles from form
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

%custom-select
	.nice-select
		$h: 36px

		display: inline-block
		clear: none
		float: none
		background: #e4e4e4
		border-radius: 0
		border: none
		height: $h
		line-height: $h
		font-size: 18px
		font-family: Roboto-Regular

		&::after
			height: 6px
			width: 6px
			margin-top: -4px
			border-bottom: 2px solid #383838
			border-right: 2px solid #383838
			right: 16px

	.list
		width: 100%
		margin-top: 0
		border: none
		background: #e4e4e4
		border-radius: 0
		box-shadow: none

		li
			min-height: 43px
			line-height: 43px
			padding-left: 18px
			font-size: 15px

			&:hover
				background: #ce0008
				color: #fff

		.disabled
			display: none

		.selected
			background: none

%custom-checkbox
	.checbox-custom
		input[type="checkbox"]
			display: none

		label
			font-size: 16px
			cursor: pointer
			position: relative
			padding-left: 26px

			&::before
				content: ""
				display: block
				vertical-align: middle
				+size(17px)
				border: 1px solid #383838
				+absolute(50%, auto, auto, 0)
				transform: translateY(-50%)

		input[type="checkbox"]:checked + label::after
			content: ""
			width: 10px
			height: 7px
			display: block
			border-left: 2px solid #383838
			border-bottom: 2px solid #383838
			transform: rotate(-45deg) translateY(-50%)
			+absolute(35%, auto, auto, 7px)

%submit-btn
	width: 226px
	height: 55px
	border-radius: 28px
	font-size: 22px
	font-family: Roboto-Regular
	margin-top: 15px
	padding: 0

form
	input[type="text"]
		background-color: #ebebeb
		padding: 0 19px
		border: none
		margin-bottom: 10px
		width: 357px
		height: 46px

		@media(max-width: $mobiles)
			width: 100%

	input[type="tel"]
		@extend input[type="text"]

	textarea
		background-color: #ebebeb
		border: none
		width: 430px
		height: 155px
		resize: none
		padding: 14px 19px

		@media(max-width: $mobiles)
			width: 100%

	.error
		border: 1px solid #ed1c24 !important

	.btn-oval
		@extend %submit-btn

	.sucsess
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		background: #fff
		z-index: 102
		font-size: 30px
		text-align: center
		display: none
		overflow: hidden

		p
			margin: 0
			+absolute(50%, auto, auto, 50%)
			transform: translate(-50%, -50%)
			width: 100%

	.error-msg
		color: #ed1c24
		display: none
