/*
 * Styles from pagintaion
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.pagination
	margin-right: 5px
	text-align: center
	margin-bottom: 74px
	font-size: 16px

	@media(max-width: $small)
		margin-right: 0
		text-align: center
		margin-bottom: 30px

	ul
		+resetCss
		list-style-type: none

		li
			display: inline-block
			vertical-align: top

			a

				display: block
				text-align: center
				line-height: 32px
				text-decoration: none
				color: #000000
				margin-right: 18px

				&:hover
					color: #ed1c24

				&.active
					+size(32px)
					background: #ed1c24
					font-size: 14px
					font-family: Roboto-Light
					color: #fff
					margin-right: 11px
