/*
 * Styles from pathwaty
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.pathway
	margin-top: 22px

	@media(max-width: $mobiles)
		display: none

	@media(max-width: $tablets) and (orientation: landscape)
		display: none

	.container
		ul
			+resetCss
			list-style-type: none

			li
				display: inline-block
				color: #ed1c24
				font-family: Roboto-Regular
				width: auto
				max-width: 100%
				font-size: 16px

				&::after
					content: "/"
					display: inline-block
					margin: 0 2px
					color: #383838

				&:last-of-type::after
					display: none

				a
					color: #383838
					text-decoration: none
