/*
 * Styles from popup window
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.overlay
	position: fixed
	left: 0
	top: 0
	+size(100%)
	z-index: 100
	background-color: rgba(1, 0, 0, 0.2)
	display: none

.popup-window,
.popup-windows,
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	z-index: 101
	background: #fff
	width: 587px
	padding: 44px 53px 49px
	display: none
	color: #383838
	text-align: left

	@import "./forms"

	@media(max-width: $mobiles)
		width: 100%
		height: 100%
		padding: 70px 10px 0

	@media(max-width: $tablets) and (orientation: landscape)
		position: absolute

	.close
		cursor: pointer
		+absolute(18px, 25px)
		border: none
		background: none
		font-size: 50px
		font-family: Roboto-Light
		line-height: 22px
		+size(22px)
		padding: 0
		color: #383838
		z-index: 103

		&:hover
			color: #ce0008
			+transition(color)

	.title
		font-size: 30px
		font-family: Roboto-Regular
		margin-bottom: 39px
