/*
 * Styles from submenu
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.submenu
	margin: 0 0 42px

	@media(max-width: $mobiles)
		margin: 0

	.container
		ul
			+resetCss
			list-style-type: none

			li
				display: inline-block
				font-size: 18px
				margin-right: 20px

				@media(max-width: $tablets)
					margin-right: 1%
					margin-bottom: 20px

				@media(max-width: $mobiles)
					margin: 0
					display: block
					width: 100%
					height: 35px

				@media(max-width: $tablets) and (orientation: landscape)
					margin: 0
					display: block
					width: 100%
					height: 35px

				a
					border-radius: 20px
					text-decoration: none
					color: #383838

					&:hover
						color: #ed1c24

					&.active
						color: #fff
						background: #ed1c24
						margin: 0
						padding: 7px 16px 10px
						cursor: default

						@media(max-width: $tablets)
							padding: 5px 12px 6px
