/*
 * Styles from empty basket
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.empty
	.container
		height: 37vh
		min-height: 295px
		max-width: 652px
		position: relative

		@media(max-width: $mobiles)
			height: 100%
			margin: 30px 0 0

		.row
			+absolute(50%, 0, 0, 50%)
			transform: translate(-50%, -50%)
			width: 93%
			font-size: 0

			@media(max-width: $mobiles)
				position: relative
				top: 0
				left: 0
				transform: translate(0, 0)
				width: 100%

			.img
				width: 43%
				text-align: center
				margin: 0 0 25px

				@media(max-width: $mobiles)
					width: 100%

					img
						max-width: 100%

			.text
				font-size: 18px
				max-width: 350px
				width: 57%

				@media(max-width: $mobiles)
					width: 100%
					margin: 0 0 25px

				p
					margin: 0 0 27px
					font-size: 30px
					font-family: Roboto-Medium
