/*
 * Styles from basket items
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */
@import "../modules/forms"

.items
	.container
		font-family: Roboto-Regular

		form
			max-width: 1200px
			@extend %custom-checkbox
			@import "./items/table"
			@import "./items/additional-services"
			@import "./items/application"

			h2
				font-size: 22px
				font-family: Roboto-Medium
				margin: 30px 0

			.red
				color: #ed1c24
