/*
 * Styles from additional services basket
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.additional-services
	border-bottom: 1px solid #d7d7d8

	.form-group
		$pl: 31px

		margin-bottom: 27px

		.checbox-custom
			label
				padding-left: $pl
				font-size: 18px

				&::before
					border-color: #000
					+size(16px)

			input[type="checkbox"]:checked + label:after
				$b: 3px solid #ed1c24

				border-left: $b
				border-bottom: $b
				top: 30%
				left: 6px

		p
			padding-left: $pl
			margin: 15px 0 0
			font-size: 16px

		input[type="text"]
			margin-left: $pl
			margin-top: 15px
			margin-bottom: 0
			width: 100%
			max-width: 357px

			@media(max-width: $mobiles)
				width: auto

	.text
		margin: 55px 0 36px
		font-size: 16px
