/*
 * Styles from application form in basket
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.application
	position: relative
	@import "../../modules/forms"

	input
		display: block

	textarea
		display: block
		margin-bottom: 10px
