/*
 * Styles from basket table
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

table
	border-bottom: 1px solid #d7d7d8
	width: 100%

	tbody
		tr
			height: 70px
			vertical-align: top
			font-size: 16px

			+mobile-p-l
				margin-bottom: 20px
				display: block
				height: auto

			&.total
				font-size: 20px
				font-family: Roboto-Medium
				height: 43px

				&:last-of-type
					text-align: right

				+mobile-p-l
					td
						padding: 0
						width: 50%

						&:nth-of-type(2)
							width: 50%
							display: inline-block

			td
				+mobile-p-l
					display: inline-block
					width: 50%
					padding: 10px 0

				&:first-of-type
					min-width: 40px
					width: 40px

					.delete
						+bg("delete.jpg", no-repeat)
						+size(22px)
						display: block

						&:hover
							+transition(filter)
							filter: grayscale(10%)

					+mobile-p-l
						display: block
						padding: 0 0 10px

				&.current-price
					text-align: right
					width: 150px

					@media(max-width: $small)
						width: auto
						min-width: 125px

					+mobile-p-l
						width: 48%

				&:nth-of-type(2)
					+mobile-p-l
						display: block
						width: 100%
						padding: 0

					a
						@media(max-width: $tablets)
							width: 85%
							display: block

						+mobile-p-l
							width: 100%

				&.basic-price
					min-width: 100px

				&:nth-of-type(4)
					min-width: 92px

				&:nth-of-type(5)
					min-width: 77px

				a
					color: #383838
					text-decoration: none
					font-family: Roboto-Medium

					&:hover
						color: #b00007

				input
					background: #fff
					width: 39px
					height: 24px
					border: 1px solid #383838
					color: #383838
					padding: 0
					text-align: center
					margin-right: 8px
					margin-bottom: 0
