/*
 * Styles from section filter in catalog
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

@import "../../modules/forms"

.filter
	.container
		form
			.form-group
				@extend %custom-select
				@extend %custom-checkbox
				margin-bottom: 18px

				&:first-of-type
					display: flex
					flex-wrap: wrap
					align-items: center
					justify-content: space-between

				.nice-select
					width: 24.438%
					line-height: 32px
					padding: 0 16px
					margin-bottom: 0

					@media(max-width: $small)
						margin-bottom: 10px

					@media(max-width: $mobiles)
						width: 100%

					&::after
						right: 20px

					&:nth-of-type(2n + 1)
						margin-right: 0

				&:nth-of-type(3)
					margin-top: 27px

					@media(max-width: $mobiles)
						display: none

					@media(max-width: $tablets) and (orientation: landscape)
						display: none

					.checboxes
						//height: 270px
						height: auto
						overflow: hidden
						font-size: 0

						&.show
							height: 100%
							+transition(height)

					a
						color: #000
						font-family: Roboto-Regular
						font-size: 16px
						position: relative
						padding-right: 23px
						text-decoration: none
						border-bottom: 1px dashed #000
						float: right
						margin-top: 30px

						&:hover
							border: none

						&::after
							content: ""
							+bg("catalog/more.png", no-repeat)
							+absolute(50%, 0)
							transform: translateY(-50%)
							width: 11px
							height: 12px

						&.show
							&::after
								transform: rotate(180deg) translateY(50%)

					.checbox-custom
						display: inline-block
						width: 16.666%
						text-align: center
						vertical-align: top

						@media(max-width: $small)
							width: 25%

						label
							display: inline-flex
							height: 90px
							padding-left: 36px
							align-items: center
							width: 180px

							&::before
								top: 46%

						input[type="checkbox"]:checked + label::after
							top: 42%

			.btn
				width: 164px
				height: 67px
				padding: 0
				font-size: 20px
				margin-top: 66px
				display: inline-block

				@media(max-width: $mobiles)
					margin-top: 10px
