/*
 * Styles from items table in list page catalog
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.items
	margin: 85px 0 0

	@media(max-width: $mobiles)
		margin: 25px 0 0

	.container
		padding: 0

		@media(max-width: $tablets)
			padding: 0 5px

		h2
			font-size: 34px
			margin: 28px 0
			padding: 0 22px

			@media(max-width: $tablets)
				padding: 0

			span
				font-size: 26px
				font-family: Roboto-Regular

		table
			width: 100%
			border-top: 1px solid #d7d7d8
			margin: 0 0 37px

			tr
				border-bottom: 1px solid #d7d7d8

				td
					height: 125px
					vertical-align: middle
					font-family: Roboto-Regular
					font-size: 16px

					&:first-of-type
						min-width: 61px
						width: 4%

						@media(max-width: $mobiles)
							display: none

						@media(max-width: $tablets) and (orientation: landscape)
							display: none

					&:nth-of-type(2)
						width: 103px

						@media(max-width: $mobiles)
							display: none

						@media(max-width: $tablets) and (orientation: landscape)
							display: none

					&:nth-of-type(4)
						min-width: 130px
						width: 12%

						@media(max-width: $tablets)
							display: none

					&:nth-of-type(5)
						min-width: 113px
						width: 9.5%

						@media(max-width: $mobiles)
							min-width: 95px

						@media(max-width: $tablets) and (orientation: landscape)
							min-width: 95px

					&:nth-of-type(6)
						min-width: 104px
						width: 9.2%

						@media(max-width: $mobiles)
							font-size: 0
							min-width: 20px

						@media(max-width: $tablets) and (orientation: landscape)
							font-size: 0
							min-width: 20px

					&:nth-of-type(7)
						min-width: 73px
						width: 7%

						@media(max-width: $tablets)
							display: none

						@media(max-width: $tablets) and (orientation: landscape)
							display: none

					&:nth-of-type(8)
						width: 79px

						@media(max-width: $mobiles)
							width: 46px

						@media(max-width: $tablets) and (orientation: landscape)
							width: 46px

					a
						color: #383838
						text-decoration: none
						font-family: Roboto-Medium

						&:hover
							color: #b00007

					.red
						color: #ed1c24

						.mobile-indicator
							background: #ed1c24

					input[type="text"]
						width: 39px
						height: 24px
						text-align: center
						border: 1px solid #383838
						margin-right: 8px

					.stock
						background-color: #ed1c24
						+size(36px)
						border-radius: 100%
						text-align: center
						line-height: 36px
						font-size: 24px
						font-family: Roboto-Bold
						color: #fff
						text-transform: uppercase
						margin: 0 auto

						&.new
							font-size: 14px

					.add-basket
						+size(42px)
						border-radius: 42px
						+bg("catalog/add-basket.png", no-repeat)
						display: block
						margin: 0 auto

					.mobile-indicator
						display: none
						+size(12px)
						border-radius: 100%
						background: #090

						@media(max-width: $mobiles)
							display: block

						@media(max-width: $tablets) and (orientation: landscape)
							display: block
