/*
 * Styles from section our services
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

.our-services
	margin: 73px 0 99px

	@media(max-width: $mobiles)
		margin: 35px 0 45px

	h2
		margin-bottom: 49px

	ul
		+resetCss
		list-style-type: none
		margin: 0 auto
		font-size: 0

		li
			text-align: center
			width: 33.333%
			font-size: 18px
			display: inline-block
			vertical-align: top

			@media(max-width: $mobiles)
				width: 50%
				&:nth-of-type(3)
					display: none

			.body
				max-width: 185px
				margin: 0 auto

				a
					font-size: 20px
					font-family: Roboto-Light
					text-decoration: none
					color: #383838

					&:hover
						color: #b00007

					.img
						height: 128px
						display: flex
						padding-bottom: 20px
						align-items: center

						img
							margin: auto

					p
						text-transform: uppercase
						margin: 0 0 23px
