/*
 * Styles from section question
 *
 * @author Andrey Chechkin
 * @license GNU/AGPLv3
 * @see {@link https://www.gnu.org/licenses/agpl-3.0.txt|License}
 */

@import "../../modules/forms"

.question
	background: #35373b
	height: 247px
	color: #ffffff
	text-align: center
	padding: 0.1px 0 0

	h2
		font-family: Roboto-Light
		color: #ffffff
		margin: 51px 0 33px

	.btn-oval
		margin: 0 auto
		width: auto
		height: auto
		display: inline-block
		padding: 13px 30px
		font-size: 24px
		font-family: Roboto-Regular
		border-radius: 33px

		@media(max-width: $mobiles)
			font-size: 18px

	#question-form form .btn-oval
		@extend %submit-btn
